<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>

        <style>
            .card,
            .icontext {
                height: 100%;
            }

            .column-top-space {
                margin-top: 20px;
            }

            .column-bottom-space {
                margin-top: 50px;
            }
        </style>


        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                    class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹ <%= revenue[0] ? revenue[0].total.toFixed(2) : 0 %></span>
                                <!-- <span class="text-sm">
                                    Shipping fees are not included
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i
                                    class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span>
                                    <%= totalOrders %>
                                </span>
                                <!-- <span class="text-sm">
                                    Excluding orders in transit
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4 ">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-person"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Users</h6> <span>
                                    <%= totalUsers %>
                                </span>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                    class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span>
                                    <%= totalProducts %>
                                </span>
                                <span class="text-sm">
                                    In <%= totalCategorys %> Categorys
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-today"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Daily Revenue</h6> <span>₹ <%= dailyRevenue[0] ?
                                        dailyRevenue[0].total.toFixed(2):0 %></span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-date_range"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Weekly Revenue</h6> <span>₹ <%= weeklyRevenue[0] ?
                                        weeklyRevenue[0].total.toFixed(2) :0 %></span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Revenue</h6><span>₹ <%= monthlyRevenue[0] ?
                                        monthlyRevenue[0].total.toFixed(2) :0 %></span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 column-top-space">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i
                                    class="text-info material-icons md-insert_invitation"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Yearly Revenue</h6> <span>₹ <%= yearlyRevenue[0] ?
                                        yearlyRevenue[0].total.toFixed(2) :0 %></span>
                            </div>
                        </article>
                    </div>
                </div>


                <div class="col-12 column-top-space">
                    <!-- <div class="card mb-4 column-top-space">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div> -->

                </div>
                <div class="row">
                    <div class="col-12 mb-4 column-bottom-space">
                        <div class="card w-100 ">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <canvas id="myChart2" ></canvas>
                            </article>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-sm-12 mb-4 column-bottom-space" >
                        <div class="card w-100">
                            <article class="card-body">
                                <h5 class="card-title">Marketing Channel</h5>
                                <span class="text-muted font-xs">Facebook</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                                </div>
                                <span class="text-muted font-xs">Instagram</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 65%">65%</div>
                                </div>
                                <span class="text-muted font-xs">Google</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 51%">51%</div>
                                </div>
                                <span class="text-muted font-xs">Twitter</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                                </div>
                                <span class="text-muted font-xs">Other</span>
                                <div class="progress mb-3">
                                    <div class="progress-bar" role="progressbar" style="width: 80%">80%</div>
                                </div>
                            </article>
                        </div>
                    </div> -->
                </div>

              



                <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        </section>


        <%- include('../adminLayouts/footer.ejs') %>