<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>




        <section class="content-main">
            <div class="container">
                <div class="row">
                    <!-- Manage Products Title -->
                    <div class="col-12 col-md-6">
                        <h2 class="content-title card-title">Manage Products</h2>
                    </div>
                    <!-- Search Form -->
                    <div class="col-12 col-md-6">
                        <div class="col-search">
                            <form class="searchform" action="/admin/product/listproduct" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search name">
            
                                    <select name="category" class="input-filter">
                                        <option value="">All Categories</option>
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category._id.toString() %>"
                                                <%=selectedCategory.toString()===category._id.toString() ? 'selected' : ''
                                                %>><%= category.categoryName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <button class="btn btn-light bg" type="submit"><i
                                            class="material-icons md-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- Action Buttons -->
                    <div class="col-12 text-end">
                        <a href="/admin/product/unlistproduct" class="btn btn-danger btn unlist-category">Unlist products</a>
                        <a href="/admin/product/addproduct" class="btn btn-primary btn-sm add-category">Add product</a>
                    </div>
                </div>
            </div>
            
                <!-- List Products -->
                <div class="row mt-4">
                    <div class="col-md-12 mb-4">
                       <div class="card product-heading">
                            <div class="card-body text-center">
                                <h3 class="card-title">Products List:</h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <% for (let i=0; i < products.length; i++) { %>
                        <article class="itemlist">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">
                                    <%= i + 1 %>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-4 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="/uploads/product/resized/<%= products[i].productImage[0] %>"
                                                alt="<%= products[i].name %> Image" style="width: 50px;">
                                        </div>
                                        <div class="info">
                                            <h7 class="mb-0">
                                                <%= products[i].name %>
                                            </h7>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-1 col-md-4 col-sm-3 col-6 col-name text-end">
                                    <span>
                                        <% if (products[i].category) { %>
                                            <p>
                                                <%= products[i].category.categoryName %>
                                            </p>
                                            <% } else { %>
                                                <p>No category assigned</p>
                                                <% } %>
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                    <div class="info">
                                        <p>
                                            <%= products[i].description.slice(0, 100) %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-3 col-price"> <span>
                                        <%= products[i].gender %>
                                    </span> </div>
                                <div class="col-lg-1 col-md-2 col-sm-1 col-3 col-price"> <span>
                                        ₹<%= products[i].price %>
                                    </span> </div>
                                <div class="col-lg-1 col-md-2 col-sm-1 col-3 col-price"> <span>
                                        <%= products[i].size %>
                                    </span> </div>
                                <div class="col-lg-1 col-md-2 col-sm-1 col-3 col-price"> <span>
                                        <%= products[i].stockCount %>
                                    </span> </div>
                                <!-- <div class="col-lg-1 col-md-2 col-sm-1 col-3 col-status">
                                <span class="badge rounded-pill alert-success">Active</span>
                                </div> -->
                                <div class="col-lg-2 col-md-3 col-sm-6 col-8 col-action text-end">
                                    <a href="/admin/product/editproduct/<%= products[i]._id %>"
                                        class="btn btn-sm font-sm rounded btn-brand edit-product"
                                        data-product-id="<%= products[i]._id %>">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>
                                    <button class="btn btn-warning btn-sm  rounded unlist-product"
                                        data-product-id="<%= products[i]._id %>">Unlist</button>
                                </div>
                            </div>
                            <!-- row .// -->
                        </article>
                        <% } %>
                            <!-- itemlist  .// -->
                </div>



            </div>


            <!-- Pagination -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="?page=1&category=<%= selectedCategory %>"><i
                                        class="material-icons md-chevron_left"></i></a></li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <% if (i===currentPage) { %>
                                        <li class="page-item active"><a class="page-link" href="#">
                                                <%= i %>
                                            </a></li>
                                        <% } else { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="?page=<%= i %>&category=<%= selectedCategory %>">
                                                    <%= i %>
                                                </a></li>
                                            <% } %>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item"><a class="page-link"
                                                                href="?page=<%= totalPages %>&category=<%= selectedCategory %>"><i
                                                                    class="material-icons md-chevron_right"></i></a>
                                                        </li>
                                                        <% } %>
                    </ul>
                </nav>
            </div>


        </section>

        <%- include('../adminLayouts/footer.ejs') %>

            <!-- Add SweetAlert -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- Add Axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const searchInput = document.getElementById('searchInput');
                    const items = document.querySelectorAll('.itemlist');

                    searchInput.addEventListener('input', function () {
                        const searchTerm = searchInput.value.toLowerCase().trim();

                        items.forEach(item => {
                            const itemContent = item.textContent.toLowerCase();

                            // Use regular expression to perform a search on all content
                            const regex = new RegExp(searchTerm, 'i');
                            if (regex.test(itemContent)) {
                                item.style.display = 'block';
                            } else {
                                item.style.display = 'none';
                            }
                        });
                    });
                });
                document.addEventListener('DOMContentLoaded', function () {
                    const editButtons = document.querySelectorAll('.edit-product');
                    const unlistButtons = document.querySelectorAll('.unlist-product');

                    editButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to edit this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, edit it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/admin/product/editproduct/${productId}`;
                                }
                            });
                        });
                    });

                    unlistButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to unlist this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, unlist it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/unlistproduct/${productId}`)
                                        .then(response => {
                                            Swal.fire({
                                                title: 'Product Unlisted Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url;
                                                }, 1000);
                                            });
                                        })
                                        .catch(error => {
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while unlisting the product.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });
            </script>