<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


        <section class="content-main">
            <div class="container">
                <div class="content-header">
                    <h2 class="content-title card-title">Coupon Management (<%= couponsCount %>)</h2>
                    <a href="/admin/coupon/addCoupon" class="btn btn-primary "><i class="fas fa-plus me-2"></i>Add
                        Coupon</a>
                </div>
                <div class="card mb-4 shadow-sm">

                    <header class="card-header">
                        <div class="row g-2 align-items-center">
                            <!-- Search Form Column -->
                            <div class="col-12 col-md-9 col-lg-9">
                                <form
                                    class="d-flex flex-column flex-sm-row gap-2 align-items-stretch justify-content-center"
                                    action="/admin/coupon/listCoupon" method="get">

                                    <!-- Search Input -->
                                    <div class="flex-grow-1">
                                        <input type="text" class="form-control w-100 mb-0" id="searchInput"
                                            name="search" value="<%= search || '' %>" placeholder="Search coupon">
                                    </div>

                                    <!-- Status Select -->
                                    <div class="flex-grow-1 flex-sm-grow-0">
                                        <select name="status" class="form-select w-100">
                                            <option value="">All</option>
                                            <option value="true" <%=orderStatus==='true' ? 'selected' : '' %>>Active
                                            </option>
                                            <option value="false" <%=orderStatus==='false' ? 'selected' : '' %>>Expired
                                            </option>
                                        </select>
                                    </div>


                                    <!-- Submit Button -->
                                    <div>
                                        <button class="btn btn-light w-100" type="submit">
                                            <i class="material-icons md-search"></i>
                                            <span class="d-none d-sm-inline">Search</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- Limit Select Column -->
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="d-flex justify-content-center justify-content-md-end">
                                    <select id="productLimit" class="form-select w-auto"
                                        onchange="location = this.value;">
                                        <% const limits=[1,5, 10, 20, 50, 100]; %>
                                            <% limits.forEach(lim=> { %>
                                                <option
                                                    value="?page=1&limit=<%= lim %>&status=<%= orderStatus %>&search=<%= search %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>"
                                                    <%=selectedLimit===lim ? 'selected' : '' %>>Show <%= lim %>
                                                </option>
                                                <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </header>


                    <div class="card mb-0">
                        <% if (coupons.length===0) { %>
                            <div class="alert alert-info text-center p-4 rounded shadow-sm" role="alert">
                                No coupon found.Please add coupon.
                            </div>
                            <% } else { %>
                                <div class="card-body p-0 table-responsive shadow-sm rounded">
                                    <table class="table table-hover text-center align-middle mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    <a href="?sort=couponName&order=<%= sortField === 'couponName' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc' %>"
                                                        class="text-reset text-decoration-none d-inline-flex align-items-center">
                                                        Coupon Name
                                                        <% if (sortField==='couponName' ) { %>
                                                            <i
                                                                class="fas fa-sort-<%= sortOrder === 'asc' ? 'up' : 'down' %> ms-2"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-sort ms-2 text-muted"></i>
                                                                <% } %>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="?sort=couponCode&order=<%= sortField === 'couponCode' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc' %>"
                                                        class="text-reset text-decoration-none d-inline-flex align-items-center">
                                                        Coupon Code
                                                        <% if (sortField==='couponCode' ) { %>
                                                            <i
                                                                class="fas fa-sort-<%= sortOrder === 'asc' ? 'up' : 'down' %> ms-2"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-sort ms-2 text-muted"></i>
                                                                <% } %>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="?sort=discountAmount&order=<%= sortField === 'discountAmount' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc' %>"
                                                        class="text-reset text-decoration-none d-inline-flex align-items-center">
                                                        Discount Amount
                                                        <% if (sortField==='discountAmount' ) { %>
                                                            <i
                                                                class="fas fa-sort-<%= sortOrder === 'asc' ? 'up' : 'down' %> ms-2"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-sort ms-2 text-muted"></i>
                                                                <% } %>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="?sort=expiryDate&order=<%= sortField === 'expiryDate' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc' %>"
                                                        class="text-reset text-decoration-none d-inline-flex align-items-center">
                                                        Expiry Date
                                                        <% if (sortField==='expiryDate' ) { %>
                                                            <i
                                                                class="fas fa-sort-<%= sortOrder === 'asc' ? 'up' : 'down' %> ms-2"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-sort ms-2 text-muted"></i>
                                                                <% } %>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="?sort=criteriaAmount&order=<%= sortField === 'criteriaAmount' ? (sortOrder === 'asc' ? 'desc' : 'asc') : 'asc' %>"
                                                        class="text-reset text-decoration-none d-inline-flex align-items-center">
                                                        Criteria Amount
                                                        <% if (sortField==='criteriaAmount' ) { %>
                                                            <i
                                                                class="fas fa-sort-<%= sortOrder === 'asc' ? 'up' : 'down' %> ms-2"></i>
                                                            <% } else { %>
                                                                <i class="fas fa-sort ms-2 text-muted"></i>
                                                                <% } %>
                                                    </a>
                                                </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-light">
                                            <% coupons.forEach((coupon, index)=> { %>
                                                <tr class="border-bottom">
                                                    <td>
                                                        <%= (currentPage - 1) * selectedLimit + index + 1 %>
                                                    </td>
                                                    <td class="fw-bold">
                                                        <%= coupon.couponName %>
                                                    </td>
                                                    <td>
                                                        <%= coupon.couponCode %>
                                                    </td>
                                                    <td>
                                                        ₹<%= coupon.discountAmount %> off
                                                    </td>
                                                    <td>
                                                        <%= coupon.expiryDate.toDateString() %>
                                                    </td>
                                                    <td>
                                                        Min purchase ₹<%= coupon.criteriaAmount %>
                                                    </td>
                                                    <td class="d-flex gap-2 justify-content-center">
                                                        <!-- Edit Button -->
                                                        <button type="button"
                                                            class="btn btn-sm btn-info d-flex align-items-center"
                                                            data-toggle="modal"
                                                            data-target="#editCouponModal-<%= coupon._id %>">
                                                            <i class="fas fa-edit me-2"></i> Edit
                                                        </button>

                                                        <!-- Delete Button -->
                                                        <a href="#"
                                                            class="btn btn-sm btn-danger d-flex align-items-center"
                                                            onclick="deleteCoupon('<%= coupon.id %>')">
                                                            <i class="fas fa-trash-alt me-2"></i> Delete
                                                        </a>
                                                    </td>

                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } %>
                    </div>
                </div>

                <!-- Edit Coupon Modal -->
                <% coupons.forEach((coupon,index)=> { %>
                    <div class="modal fade" id="editCouponModal-<%= coupon._id %>" tabindex="-1" role="dialog"
                        aria-labelledby="editCouponModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content bg-light">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editCouponModalLabel">Edit Coupon
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="editCouponForm-<%= coupon._id %>" novalidate>

                                        <div class="form-group">
                                            <label for="editCouponName">Coupon Name</label>
                                            <input type="text" class="form-control" id="editCouponName"
                                                name="couponName" value="<%=  coupon.couponName %>">
                                            <small id="editCouponName-error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label for="editCouponCode">Coupon Code</label>
                                            <input type="text" class="form-control" id="editCouponCode"
                                                name="couponCode" value="<%=  coupon.couponCode %>">
                                            <small id="editCouponCode-error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label for="editDiscountAmount">Discount Amount</label>
                                            <input type="number" class="form-control" id="editDiscountAmount"
                                                name="discount" value="<%=  coupon.discountAmount %>">
                                            <small id="editDiscountAmount-error" class="text-danger"></small>
                                        </div>
                                        <div class="form-group">
                                            <label for="editExpiryDate">Expiry Date</label>
                                            <input type="date" class="form-control" id="editExpiryDate"
                                                name="expiryDate"
                                                value="<%= coupon.expiryDate.toISOString().split('T')[0] %>">
                                            <small id="editExpiryDate-error" class="text-danger"></small>
                                        </div>

                                        <div class="form-group">
                                            <label for="editCriteriaAmount">Criteria Amount</label>
                                            <input type="number" class="form-control" id="editCriteriaAmount"
                                                name="criteriaAmount" value="<%= coupon.criteriaAmount %>">
                                            <small id="editCriteriaAmount-error" class="text-danger"></small>
                                        </div>

                                        <div class="error-message" id="form-errors" style="text-align: center;">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        aria-label="Close">
                                        close
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="updateCoupon">Save
                                        changes</button>
                                </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <!-- Pagination -->
                        <div class="pagination-area mt-30 mb-50">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <% if (currentPage> 1) { %>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="?page=<%= currentPage - 1 %>&limit=<%= selectedLimit %>&status=<%= orderStatus %>&search=<%= search %>&sort=<%= sortField %>&order=<%= sortOrder %>">
                                                <i class="material-icons md-chevron_left"></i>
                                            </a>
                                        </li>
                                        <% } %>

                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                    <a class="page-link"
                                                        href="?page=<%= i %>&limit=<%= selectedLimit %>&status=<%= orderStatus %>&search=<%= search %>&sort=<%= sortField %>&order=<%= sortOrder %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>

                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="?page=<%= currentPage + 1 %>&limit=<%= selectedLimit %>&status=<%= orderStatus %>&search=<%= search %>&sort=<%= sortField %>&order=<%= sortOrder %>">
                                                                <i class="material-icons md-chevron_right"></i>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                </ul>
                            </nav>
                        </div>


            </div>
        </section>



        <%- include('../adminLayouts/footer.ejs') %>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


            <script>
                function deleteCoupon(couponId) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You will not be able to recover this coupon!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.delete(`/admin/coupon/deleteCoupon/${couponId}`)
                                .then(response => {
                                    Swal.fire(
                                        'Deleted!',
                                        'Your coupon has been deleted.',
                                        'success'
                                    );
                                    setTimeout(() => {
                                        location.reload();
                                    }, 1000);
                                })
                                .catch(error => {
                                    console.error('Error deleting coupon:', error);
                                    Swal.fire(
                                        'Error!',
                                        'An error occurred while deleting the coupon.',
                                        'error'
                                    );
                                });
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            Swal.fire(
                                'Cancelled',
                                'Your coupon is safe :)',
                                'error'
                            );
                        }
                    });
                }

                $(document).ready(function () {


                    $('.edit-coupon-btn').click(function (event) {
                        event.preventDefault();
                        var couponId = $(this).data('coupon-id');
                        $('.edit-coupon-modal[data-coupon-id="' + couponId + '"]').modal('show');
                    });


                    $('form[id^="editCouponForm-"]').submit(function (event) {
                        event.preventDefault();
                        var couponId = $(this).attr('id').split('-')[1];
                        // Reset error messages
                        $(this).find('.text-danger').text('');

                        // Validation
                        const editCouponName = $(this).find('#editCouponName').val().trim();
                        const editCouponCode = $(this).find('#editCouponCode').val().trim();
                        const editDiscountAmount = $(this).find('#editDiscountAmount').val().trim();
                        const editExpiryDate = $(this).find('#editExpiryDate').val().trim();
                        const editCriteriaAmount = $(this).find('#editCriteriaAmount').val().trim();

                        let isValid = true;

                        if (editCouponName === '') {
                            $(this).find('#editCouponName-error').text('Please enter the coupon name.');
                            isValid = false;
                        }
                        if (editCouponName.trim().length >= 20) {
                            $(this).find('#editCouponName-error').text('Coupon name must be less than 20 characters.');
                            isValid = false;
                        }
                        if (editDiscountAmount === '') {
                            $(this).find('#editDiscountAmount-error').text('Please enter the coupon discount amount.');
                            isValid = false;
                        }
                        if (editExpiryDate === '') {
                            $(this).find('#editExpiryDate-error').text('Please enter the coupon expiry date.');
                            isValid = false;
                        }
                        if (editCriteriaAmount === '') {
                            $(this).find('#editCriteriaAmount-error').text('Please enter the coupon criteria amount.');
                            isValid = false;
                        }
                        if (!/^[a-zA-Z0-9_]{1,10}$/.test(editCouponCode)) {
                            $(this).find('#editCouponCode-error').text('Coupon code must be between 1 and 10 characters');
                            isValid = false;
                        }

                        if (parseFloat(editDiscountAmount) < 1) {
                            $(this).find('#editDiscountAmount-error').text('Discount amount must be greater than or equal to 1.');
                            isValid = false;
                        }
                        if (parseFloat(editDiscountAmount) >= parseFloat(editCriteriaAmount)) {
                            $(this).find('#editDiscountAmount-error').text('Discount amount must be less than Criteria amount.');
                            isValid = false;
                        }
                        if (parseFloat(editCriteriaAmount) < 1) {
                            $(this).find('#editCriteriaAmount-error').text('Criteria amount must be greater than or equal to 1.');
                            isValid = false;
                        }
                        const today = new Date();
                        const selectedDate = new Date(editExpiryDate);
                        today.setHours(0, 0, 0, 0); // Set time to start of day for accurate comparison
                        if (selectedDate < today) {
                            $(this).find('#editExpiryDate-error').text('Expiry date must be greater than or equal to today.');
                            isValid = false;
                        }

                        if (!isValid) {
                            return;
                        }

                        // Form data
                        const formData = {
                            couponName: editCouponName,
                            couponCode: editCouponCode,
                            discountAmount: parseFloat(editDiscountAmount),
                            expiryDate: editExpiryDate,
                            criteriaAmount: parseFloat(editCriteriaAmount)
                        };

                        // Send data to server for editing
                        axios.put(`/admin/coupon/editCoupon/${couponId}`, formData)

                            .then(function (response) {
                                const data = response.data;
                                if (data.success) {
                                    // Show a success message using SweetAlert2
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: "top-end",
                                        showConfirmButton: false,
                                        timer: 3000,
                                        timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.onmouseenter = Swal.stopTimer;
                                            toast.onmouseleave = Swal.resumeTimer;
                                        }
                                    });
                                    Toast.fire({
                                        icon: "success",
                                        title: 'Success!',
                                        text: 'Coupon added successfully',
                                    });
                                    setTimeout(() => {
                                        location.reload();
                                    }, 2000);

                                }
                            })
                            .catch(err => {
                                if (err.response && err.response.data && !err.response.data.success) {
                                    var modalButton = $(`#editCouponModal-${couponId} .btn-primary`);
                                    var errorMessage = $('#form-errors').text(err.response.data.message);
                                    modalButton.after(errorMessage);
                                } else {
                                    console.error(err);
                                }
                            });

                    });
                });


            </script>