<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>
        <style>
            /* Modal colors */
            .modal-content {
                background-color: #ffffff;

            }

            .modal-header {
                background-color: #088178;
            }
        </style>



        <section class="content-main">
            <div class="container">
                <div class="content-header">
                    <h2 class="content-title card-title">
                        <h2 class="content-title card-title">Manage Products</h2>

                        <!-- Search Form -->
                        <div class="col-search">
                            <form class="searchform" action="/admin/product/listproduct" method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search name">

                                    <select name="category" class="input-filter">
                                        <option value="">All Categories</option>
                                        <% categories.forEach(category=> { %>
                                            <option value="<%= category._id.toString() %>"
                                                <%=selectedCategory.toString()===category._id.toString() ? 'selected'
                                                : '' %>>
                                                <%= category.categoryName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <button class="btn btn-light bg" type="submit"><i
                                            class="material-icons md-search"></i></button>
                                </div>
                            </form>
                        </div>
                </div>
                <br>
                <div class="row">
                    <!-- Action Buttons -->
                    <div class="col-12 text-end">

                        <a href="/admin/product/addproduct" class="btn btn-primary btn-sm add-category">Add product</a>
                    </div>
                </div>
            </div>

            <!-- List Products -->
            <div class="row mt-4">
                <div class="col-md-12 mb-4">
                    <div class="card product-heading">
                        <div class="card-body text-center">
                            <h3 class="card-title">Products List:</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <% if (products.length===0) { %>
                    <div class="alert alert-info" role="alert">
                        No products found. Please add products.
                    </div>
                    <% } else { %>
                        <div class="row align-items-center">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">
                                <strong>#</strong>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 col-name text-center">
                                <strong>Product Image and Name</strong>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-4 col-4 col-category text-center">
                                <strong>Category</strong>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-3  col-price text-center">
                                <strong>Gender</strong>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-3  col-price text-center">
                                <strong>Price</strong>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-3  col-price text-center">
                                <strong>Size</strong>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-3 col-3  col-price text-center">
                                <strong>Stock Count</strong>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-6 col-offer text-center">
                                <strong>Offer</strong>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-6 col-action text-center">
                                <strong>Action</strong>
                            </div>
                        </div>
                        <% for (let i=0; i < products.length; i++) { %>
                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-1 text-center">
                                        <%= i + 1 %>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-6 col-name">
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/uploads/product/resized/<%= products[i].productImage[0] %>"
                                                    alt="<%= products[i].name %> Image" style="width: 50px;">
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0">
                                                    <%= products[i].name %>
                                                </h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-1 col-md-4 col-sm-4 col-4 col-category text-center">
                                        <span>
                                            <% if (products[i].category) { %>
                                                <p>
                                                    <%= products[i].category.categoryName %>
                                                </p>
                                                <% } else { %>
                                                    <p>No category assigned</p>
                                                    <% } %>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-3 col-price text-center">
                                        <span>
                                            <%= products[i].gender %>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-3 col-price text-center">
                                        <span>
                                            ₹ <%= products[i].price %>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-3 col-price text-center">
                                        <span>
                                            <%= products[i].size %>
                                        </span>
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-sm-3 col-3 col-price text-center">
                                        <span>
                                            <%= products[i].stockCount %>
                                        </span>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-6 col-offer text-center">
                                        <% if (!products[i].isUnlisted ) { %>
                                            <% if (!products[i].offer ) { %>
                                                <button class="btn btn-success btn-sm rounded add-product"
                                                    data-toggle="modal" data-target="#addOfferModal"
                                                    data-product-id="<%= products[i]._id %>">Add offer</button>

                                                <% } else { %>
                                                    <button class="btn btn-danger btn-sm remove-offer"
                                                        data-product-id="<%= products[i]._id %>">Remove offer</button>

                                                    <% } %>
                                                        <% } %>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-6 col-action text-center">
                                        <a href="/admin/product/editproduct/<%= products[i]._id %>"
                                            class="btn btn-sm font-sm rounded btn-brand edit-product"
                                            data-product-id="<%= products[i]._id %>">
                                            <i class="material-icons md-edit"></i> Edit
                                        </a>
                                        <% if (!products[i].isUnlisted) { %>
                                            <button class="btn btn-warning btn-sm rounded unlist-product"
                                                data-product-id="<%= products[i]._id %>">Unlist</button>
                                            <% } else { %>
                                                <button class="btn btn-danger btn-sm btn-list"
                                                    data-product-id="<%= products[i]._id %>">List</button>
                                                <% } %>
                                    </div>
                                </div>
                                <!-- row .// -->
                            </article>
                            <% } %>
                                <% } %>
                                    <!-- listOfferModal.ejs -->
                                    <div class="modal" id="addOfferModal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Select an Offer</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <% offers.forEach(offer=> { %>
                                                            <div class="col-md-6">
                                                                <div class="card mb-4">
                                                                    <div class="card-body">
                                                                        <% const today=new Date(); %>
                                                                            <% const offerDate=new
                                                                                Date(offer.endingDate); %>
                                                                                <% if (offerDate>= today) { %>
                                                                                    <div class="form-check">
                                                                                        <input class="form-check-input"
                                                                                            type="radio"
                                                                                            name="selectedOffer"
                                                                                            id="offer-<%= offer._id %>"
                                                                                            value="<%= offer._id %>">
                                                                                        <label class="form-check-label"
                                                                                            for="offer-<%= offer._id %>">
                                                                                            <h5 class="card-title">
                                                                                                <%= offer.offerName %>
                                                                                            </h5>
                                                                                        </label>
                                                                                    </div>
                                                                                    <% } else { %>
                                                                                        <h5 class="card-title">
                                                                                            <%= offer.offerName %>
                                                                                        </h5>
                                                                                        <% } %>
                                                                                            <p class="card-text">
                                                                                                Starting Date: <%=
                                                                                                    offer.startingDate.toLocaleDateString()
                                                                                                    %> <br>
                                                                                                    Ending Date: <%=
                                                                                                        offer.endingDate.toLocaleDateString()
                                                                                                        %> <br>
                                                                                                        Discount: <%=
                                                                                                            offer.discount
                                                                                                            %>%
                                                                                            </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                    </div>
                                                </div>

                                            </div>
                                            <div id="offerError" class="text-danger"
                                                style="display: none; text-align: center;"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="addOfferBtn">Add
                                                    Offer</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
            </div>





            </div>






            <!-- Pagination -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="?page=1&category=<%= selectedCategory %>"><i
                                        class="material-icons md-chevron_left"></i></a></li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <% if (i===currentPage) { %>
                                        <li class="page-item active"><a class="page-link" href="#">
                                                <%= i %>
                                            </a></li>
                                        <% } else { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="?page=<%= i %>&category=<%= selectedCategory %>">
                                                    <%= i %>
                                                </a></li>
                                            <% } %>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item"><a class="page-link"
                                                                href="?page=<%= totalPages %>&category=<%= selectedCategory %>"><i
                                                                    class="material-icons md-chevron_right"></i></a>
                                                        </li>
                                                        <% } %>
                    </ul>
                </nav>
            </div>


        </section>

        <%- include('../adminLayouts/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

            <!-- Add SweetAlert -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- Add Axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const searchInput = document.getElementById('searchInput');
                    const items = document.querySelectorAll('.itemlist');

                    searchInput.addEventListener('input', function () {
                        const searchTerm = searchInput.value.toLowerCase().trim();

                        items.forEach(item => {
                            const itemContent = item.textContent.toLowerCase();

                            // Use regular expression to perform a search on all content
                            const regex = new RegExp(searchTerm, 'i');
                            if (regex.test(itemContent)) {
                                item.style.display = 'block';
                            } else {
                                item.style.display = 'none';
                            }
                        });
                    });
                });
                document.addEventListener('DOMContentLoaded', function () {
                    const editButtons = document.querySelectorAll('.edit-product');
                    const unlistButtons = document.querySelectorAll('.unlist-product');

                    editButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to edit this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, edit it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/admin/product/editproduct/${productId}`;
                                }
                            });
                        });
                    });

                    unlistButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to unlist this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, unlist it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/unlistproduct/${productId}`)
                                        .then(response => {
                                            Swal.fire({
                                                title: 'Product Unlisted Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url;
                                                }, 1000);
                                            });
                                        })
                                        .catch(error => {
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while unlisting the product.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });
                document.addEventListener('DOMContentLoaded', function () {
                    const listButtons = document.querySelectorAll('.btn-list');

                    listButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const productId = this.getAttribute('data-product-id');

                            Swal.fire({
                                title: 'Are you sure you want to list this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, List it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/listProduct/${productId}`)
                                        .then(response => {
                                            // Handle success response
                                            Swal.fire({
                                                title: 'Product Listed Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url; // Redirect to the URL received from the server
                                                }, 1000); // Add a time delay for redirecting
                                            });
                                        })
                                        .catch(error => {
                                            // Handle error
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while listing the product.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });


                $(document).ready(function () {
                    // Add click event listener for "Add offer" button
                    $('.add-product').click(function () {
                        const productId = $(this).data('product-id');
                        $('#addOfferModal').data('product-id', productId); // Store the product ID in the modal data
                        $('#addOfferModal').modal('show'); // Show the modal
                    });
                    $('.close').click(function () {
                        $('#addOfferModal').modal('hide');

                        $('#addOfferModal').on('hidden.bs.modal', function (e) {
                            // Remove the modal backdrop
                            $('.modal-backdrop').remove();
                        });
                    });
                    // Handle "Add Offer" button click inside the modal
                    $('#addOfferBtn').click(function () {
                        const productId = $('#addOfferModal').data('product-id');
                        const selectedOfferId = $('input[name="selectedOffer"]:checked').val();

                        let isValid = true;
                        let errorMessage = '';
                        // Check if an offer is selected
                        if (!selectedOfferId) {
                            isValid = false;
                            errorMessage = 'Please select an offer.';
                            $('#offerError').text(errorMessage).show();
                        } else {
                            $('#offerError').hide();
                        }
                        if (isValid) {
                            axios.put(`/admin/product/${productId}/addOffer`, { offerId: selectedOfferId })
                                .then(response => {
                                    Swal.fire({
                                        title: 'Offer Added Successfully!',
                                        icon: 'success'
                                    }).then(() => {
                                        setTimeout(() => {
                                            window.location.href = response.data.url;
                                        }, 1000);
                                    });
                                })
                                .catch(error => {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'An error occurred while adding the offer.',
                                        icon: 'error'
                                    });
                                    console.error('Error:', error);
                                });

                        }
                    });
                });
                document.addEventListener('DOMContentLoaded', function () {
                    const removeOfferButtons = document.querySelectorAll('.remove-offer');

                    removeOfferButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const productId = this.getAttribute('data-product-id');

                            Swal.fire({
                                title: 'Are you sure you want to remove offer from this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, Remove it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/removeOffer/${productId}`)
                                        .then(response => {
                                            // Handle success response
                                            Swal.fire({
                                                title: 'Offer removed Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url; // Redirect to the URL received from the server
                                                }, 1000); // Add a time delay for redirecting
                                            });
                                        })
                                        .catch(error => {
                                            // Handle error
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while removing the offer.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });


            </script>