<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>
        <style>
            /* Modal colors */
            .modal-content {
                background-color: #ffffff;

            }

            .modal-header {
                background-color: #088178;
            }

            .status-badge {
                position: absolute;
                top: 5px;
                right: 5px;
                padding: 4px 12px;
                border-radius: 15px;
                font-size: 12px;
                font-weight: 500;
            }

            .stock-badge {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 4px 12px;
                border-radius: 15px;
                font-size: 12px;
                font-weight: 500;
            }


            .active-status {
                background: #d1fae5;
                color: #065f46;
            }

            .inactive-status {
                background: #fee2e2;
                color: #991b1b;
            }

            .card {
                transition: transform 0.2s;
                border-radius: 15px;
            }

            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            }

            .card-title {
                font-size: 1.1rem;
                font-weight: 600;
            }

            .card-footer {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                background: #f8f9fa;
            }

            .badge {
                font-size: 0.8rem;
                padding: 0.4em 0.6em;
            }

            .product-status-badge {
                position: absolute;
                top: 5px;
                left: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .product-status-badge span {
                padding: 4px 10px;
                border-radius: 12px;
                font-size: 12px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
            }

            /* Specific Colors */
            .new {
                background-color: #088178;
            }

            .hot {
                background-color: #e63946;
            }

            .best {
                background-color: #ffb703;
            }
        </style>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


        <section class="content-main">
            <div class="container">
                <div class="content-header ">
                    <h3 class="mb-0">Manage Products (<%= totalCount %>)</h3>
                    <a href="/admin/product/addproduct" class="btn btn-primary">
                        <i class="fas fa-plus mr-2"></i> Add product
                    </a>
                </div>
            </div>

            <header class="card-header mt-40">
                <div class="row g-2 align-items-center">
                    <!-- Search Form Column -->
                    <div class="col-12 col-md-9 col-lg-9">
                        <form class="d-flex flex-column flex-sm-row gap-2 align-items-stretch justify-content-center"
                            action="/admin/product/listproduct" method="get">

                            <!-- Search Input -->
                            <div class="flex-grow-1">
                                <input type="text" class="form-control w-100 mb-0" id="searchInput" name="search"
                                    value="<%= search || '' %>" placeholder="Search product">
                            </div>

                            <!-- Status Select -->
                            <div class="flex-grow-1 flex-sm-grow-0">
                                <select name="category" class="form-select w-100">
                                    <option value="">All Categories</option>
                                    <% categories.forEach(category=> { %>
                                        <option value="<%= category._id.toString() %>"
                                            <%=selectedCategory.toString()===category._id.toString() ? 'selected' : ''
                                            %>>
                                            <%= category.categoryName %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>

                            <!-- Submit Button -->
                            <div>
                                <button class="btn btn-light w-100" type="submit">
                                    <i class="material-icons md-search"></i>
                                    <span class="d-none d-sm-inline">Search</span>
                                </button>
                            </div>
                        </form>
                    </div>

                    <!-- Limit Select Column -->
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="d-flex justify-content-center justify-content-md-end">
                            <select id="productLimit" class="form-select w-auto" onchange="location = this.value;">
                                <% const limits=[1,6, 10, 20, 50, 100]; %>
                                    <% limits.forEach(lim=> { %>
                                        <option
                                            value="?page=1&limit=<%= lim %>&category=<%= selectedCategory %>&search=<%= search %>"
                                            <%=selectedLimit===lim ? 'selected' : '' %>>Show <%= lim %>
                                        </option>
                                        <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </header>



            <div class="card-body m-1 p-2 mt-4">
                <% if (products.length===0) { %>
                    <div class="alert alert-info" role="alert">
                        No products found. Please add products.
                    </div>
                    <% } else { %>
                        <div class="row">
                            <% for (let i=0; i < products.length; i++) { %>
                                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <div class="card h-100 shadow-sm">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="card-title mb-0">
                                                #<%= i+1 %>
                                                    <%= products[i].name.slice(0,20) + (products[i].name.length> 20 ?
                                                        '...'
                                                        : '') %>
                                            </h5>
                                            <span class="badge bg-primary">
                                                <%= products[i].gender %>
                                            </span>
                                        </div>

                                        <div class="card-body">
                                            <div class="row g-4">
                                                <div class="col-6">
                                                    <div class="position-relative">
                                                        <img src="/uploads/product/resized/<%= products[i].productImage[0] %>"
                                                            alt="<%= products[i].name %>"
                                                            class="img-fluid rounded-3 shadow-sm hover-zoom">

                                                        <div class="product-status-badge">
                                                            <% if(products[i].isNewArrival) { %><span
                                                                    class="new">New</span>
                                                                <% } %>
                                                                    <% if(products[i].isHot) { %><span
                                                                            class="hot">Hot</span>
                                                                        <% } %>
                                                                            <% if(products[i].isBestSeller) { %>
                                                                                <span class="best">Best</span>
                                                                                <% } %>
                                                        </div>

                                                        <!-- Sold Out Badge (Top-Left) -->
                                                        <% if(products[i].stockCount <=0) { %>
                                                            <div class="stock-badge bg-danger text-white">
                                                                Sold Out
                                                            </div>
                                                            <% } %>

                                                                <!-- Status Badge (Top-Right) -->
                                                                <span
                                                                    class="status-badge <%= products[i].isUnlisted ? 'inactive-status' : 'active-status' %>">
                                                                    <%= products[i].isUnlisted ? 'Unlisted' : 'Listed'
                                                                        %>
                                                                </span>


                                                    </div>


                                                    <div class="text-center">
                                                        <span class="text-success fw-bold">₹ <%= products[i].price %>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><strong>Category:</strong>
                                                            <span>
                                                                <%= products[i].category ?
                                                                    products[i].category.categoryName : 'N/A' %>
                                                            </span>
                                                        </li>
                                                        <li><strong>Brand:</strong>
                                                            <span>
                                                                <%= products[i].brand %>
                                                            </span>
                                                        </li>
                                                        <li><strong>Color:</strong>
                                                            <span>
                                                                <%= products[i].color %>
                                                            </span>
                                                        </li>
                                                        <li><strong>Size:</strong>
                                                            <span>
                                                                <%= products[i].size %>
                                                            </span>
                                                        </li>
                                                        <li><strong>Stock:</strong>
                                                            <span>
                                                                <%= products[i].stockCount %>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="card-footer bg-light d-flex flex-wrap justify-content-center align-items-center gap-3">
                                            <div class="offer-section text-center">
                                                <% if (!products[i].isUnlisted) { %>
                                                    <% if (!products[i].offer) { %>
                                                        <button class="btn btn-sm btn-primary bg-success btn-add-offer"
                                                            data-toggle="modal" data-target="#addOfferModal"
                                                            data-product-id="<%= products[i]._id %>">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <i class="fas fa-tag me-2"></i>
                                                                <span class="d-none d-md-inline">Add Offer</span>
                                                            </div>
                                                        </button>
                                                        <% } else { %>
                                                            <button
                                                                class="btn btn-sm btn-primary bg-danger remove-offer"
                                                                data-product-id="<%= products[i]._id %>">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-center">
                                                                    <i class="fas fa-times-circle me-2"></i>
                                                                    <span class="d-none d-md-inline">Remove Offer</span>
                                                                </div>
                                                            </button>
                                                            <% } %>
                                                                <% } %>
                                            </div>

                                            <div
                                                class="actions d-flex flex-column flex-md-row gap-3 justify-content-center w-100 w-md-auto">
                                                <a href="/admin/product/editproduct/<%= products[i]._id %>"
                                                    class="btn btn-sm btn-primary btn-edit"
                                                    data-product-id="<%= products[i]._id %>">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <i class="fas fa-edit me-2"></i>
                                                        <span class="d-none d-md-inline">Edit</span>
                                                    </div>
                                                </a>

                                                <% if (!products[i].isUnlisted) { %>
                                                    <button class="btn btn-sm btn-primary bg-warning unlist-product"
                                                        data-product-id="<%= products[i]._id %>">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <i class="fas fa-eye-slash me-2"></i>
                                                            <span class="d-none d-md-inline">Unlist</span>
                                                        </div>
                                                    </button>
                                                    <% } else { %>
                                                        <button class="btn btn-sm btn-primary bg-success btn-list"
                                                            data-product-id="<%= products[i]._id %>">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <i class="fas fa-eye me-2"></i>
                                                                <span class="d-none d-md-inline">List</span>
                                                            </div>
                                                        </button>
                                                        <% } %>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } %>

            </div>


            <!-- Pagination -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="?page=1&limit=<%= selectedLimit %>&category=<%= selectedCategory %>&search=<%= search %>"><i
                                        class="material-icons md-chevron_left"></i></a></li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <% if (i===currentPage) { %>
                                        <li class="page-item active"><a class="page-link" href="#">
                                                <%= i %>
                                            </a></li>
                                        <% } else { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="?page=<%= i %>&limit=<%= selectedLimit %>&category=<%= selectedCategory %>&search=<%= search %>">
                                                    <%= i %>
                                                </a></li>
                                            <% } %>
                                                <% } %>
                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item"><a class="page-link"
                                                                href="?page=<%= totalPages %>&limit=<%= selectedLimit %>&category=<%= selectedCategory %>&search=<%= search %>"><i
                                                                    class="material-icons md-chevron_right"></i></a>
                                                        </li>
                                                        <% } %>
                    </ul>
                </nav>
            </div>


        </section>

        <!-- listOfferModal -->
        <div class="modal" id="addOfferModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select an Offer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <% offers.forEach(offer=> { %>
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <% const today=new Date(); %>
                                                <% const offerDate=new Date(offer.endingDate); %>
                                                    <% if (offerDate>= today) { %>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="selectedOffer" id="offer-<%= offer._id %>"
                                                                value="<%= offer._id %>">
                                                            <label class="form-check-label"
                                                                for="offer-<%= offer._id %>">
                                                                <h5 class="card-title">
                                                                    <%= offer.offerName %>
                                                                </h5>
                                                            </label>
                                                        </div>
                                                        <% } else { %>
                                                            <h5 class="card-title">
                                                                <%= offer.offerName %>
                                                            </h5>
                                                            <% } %>
                                                                <p class="card-text">
                                                                    Starting Date: <%=
                                                                        offer.startingDate.toLocaleDateString() %>
                                                                        <br>
                                                                        Ending Date: <%=
                                                                            offer.endingDate.toLocaleDateString() %>
                                                                            <br>
                                                                            Discount: <%= offer.discount %>%
                                                                </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <div id="offerError" class="text-danger" style="display: none; text-align: center;"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="addOfferBtn">Add
                            Offer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../adminLayouts/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

            <!-- Add SweetAlert -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- Add Axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>

                document.addEventListener('DOMContentLoaded', function () {
                    const editButtons = document.querySelectorAll('.edit-product');
                    const unlistButtons = document.querySelectorAll('.unlist-product');

                    editButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to edit this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, edit it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = `/admin/product/editproduct/${productId}`;
                                }
                            });
                        });
                    });

                    unlistButtons.forEach(button => {
                        button.addEventListener('click', function (event) {
                            event.preventDefault();
                            const productId = this.getAttribute('data-product-id');
                            Swal.fire({
                                title: 'Are you sure you want to unlist this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, unlist it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/unlistproduct/${productId}`)
                                        .then(response => {
                                            Swal.fire({
                                                title: 'Product Unlisted Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url;
                                                }, 1000);
                                            });
                                        })
                                        .catch(error => {
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while unlisting the product.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });
                document.addEventListener('DOMContentLoaded', function () {
                    const listButtons = document.querySelectorAll('.btn-list');

                    listButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const productId = this.getAttribute('data-product-id');

                            Swal.fire({
                                title: 'Are you sure you want to list this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, List it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/listProduct/${productId}`)
                                        .then(response => {
                                            // Handle success response
                                            Swal.fire({
                                                title: 'Product Listed Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url; // Redirect to the URL received from the server
                                                }, 1000); // Add a time delay for redirecting
                                            });
                                        })
                                        .catch(error => {
                                            // Handle error
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while listing the product.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });


                $(document).ready(function () {
                    // Add click event listener for "Add offer" button
                    $('.btn-add-offer').click(function () {
                        const productId = $(this).data('product-id');
                        $('#addOfferModal').data('product-id', productId);  // Store the category ID in the modal data
                        $('#addOfferModal').modal('show'); // Show the modal
                    });

                    $('.close').click(function () {
                        $('#addOfferModal').modal('hide');

                        $('#addOfferModal').on('hidden.bs.modal', function (e) {
                            // Remove the modal backdrop
                            $('.modal-backdrop').remove();
                        });
                    });



                    // Handle "Add Offer" button click inside the modal
                    $('#addOfferBtn').click(function () {
                        const productId = $('#addOfferModal').data('product-id');
                        const selectedOfferId = $('input[name="selectedOffer"]:checked').val();

                        let isValid = true;
                        let errorMessage = '';
                        // Check if an offer is selected
                        if (!selectedOfferId) {
                            isValid = false;
                            errorMessage = 'Please select an offer.';
                            $('#offerError').text(errorMessage).show();
                        }
                        $('#offerError').text(errorMessage).toggle(!isValid);
                        if (isValid) {
                            axios.put(`/admin/product/${productId}/addOffer`, { offerId: selectedOfferId })
                                .then(response => {
                                    Swal.fire({
                                        title: 'Offer Added Successfully!',
                                        icon: 'success'
                                    }).then(() => {
                                        setTimeout(() => {
                                            window.location.href = response.data.url;
                                        }, 1000);
                                    });
                                })
                                .catch(error => {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'An error occurred while adding the offer.',
                                        icon: 'error'
                                    });
                                    console.error('Error:', error);
                                });

                        }
                    });
                });



                document.addEventListener('DOMContentLoaded', function () {
                    const removeOfferButtons = document.querySelectorAll('.remove-offer');

                    removeOfferButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            const productId = this.getAttribute('data-product-id');

                            Swal.fire({
                                title: 'Are you sure you want to remove offer from this product?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, Remove it!',
                                cancelButtonText: 'Cancel'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    axios.put(`/admin/product/removeOffer/${productId}`)
                                        .then(response => {
                                            // Handle success response
                                            Swal.fire({
                                                title: 'Offer removed Successfully!',
                                                icon: 'success'
                                            }).then(() => {
                                                setTimeout(() => {
                                                    window.location.href = response.data.url; // Redirect to the URL received from the server
                                                }, 1000); // Add a time delay for redirecting
                                            });
                                        })
                                        .catch(error => {
                                            // Handle error
                                            Swal.fire({
                                                title: 'Error',
                                                text: 'An error occurred while removing the offer.',
                                                icon: 'error'
                                            });
                                            console.error('Error:', error);
                                        });
                                }
                            });
                        });
                    });
                });


            </script>