<%- include('../layouts/header.ejs', {address: address, cartItems: cartItems}) %>
    <%- include('../layouts/navbar.ejs', {address: address, cartItems: cartItems}) %>

        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Shop
                        <span></span> Checkout
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">
                    <!-- <div class="row">
                <div class="col-lg-6 mb-sm-15">
                    <div class="toggle_info">
                        <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                    </div>
                    <div class="panel-collapse collapse login_form" id="loginform">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="Username Or Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                            <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                        </div>
                                    </div>
                                    <a href="#">Forgot password?</a>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-md" name="login">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="toggle_info">
                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                    </div>
                    <div class="panel-collapse collapse coupon_form " id="coupon">
                        <div class="panel-body">
                            <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                            <form method="post">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Coupon Code...">
                                </div>
                                <div class="form-group">
                                    <button class="btn  btn-md" name="login">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="divider mt-50 mb-50"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-25">
                                <h4>Billing Details</h4>
                            </div>
                            <div class="ship_detail">
                                <div class="form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox"
                                                id="differentaddress">
                                            <label class="form-check-label label_info" data-bs-toggle="collapse"
                                                data-target="#collapseAddress" href="#collapseAddress"
                                                aria-controls="collapseAddress" for="differentaddress"><span>Shiping
                                                    Address</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseAddress" class="different_address collapse in">

                                    <div class="form-group">
                                        <label for="savedAddresses">Select Address:</label>
                                        <select id="savedAddresses" name="savedAddresses" class="form-control">

                                            <% address.forEach(address=> { %>
                                                <option value="<%= address._id %>">
                                                    <%= address.fullName %>, <%= address.houseNo %>, <%= address.area %>
                                                                , <%= address.city %>, <%= address.state %> - <%=
                                                                            address.pincode %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody data-cart-items="<%= JSON.stringify(cartItems) %>"
                                            data-total-price="<%= totalPrice %>">
                                            <% cartItems.forEach(item=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/product/resized/<%=item.productId.productImage[0] %>"
                                                            alt="<%= item.productId.name %>">

                                                    <td>
                                                        <h5 class="product-name"><a href="#">
                                                                <%= item.productId.name %>
                                                            </a></h5> <span class="product-qty"> * <%= item.quantity %>
                                                        </span>
                                                    </td>
                                                    <td>₹<%= item.productId.price %>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                                    <th>SubTotal</th>
                                                    <td class="product-subtotal" colspan="2">₹<%= totalPrice %>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Shipping</th>
                                                        <td colspan="2"><em>Free Shipping</em></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <td colspan="2" class="product-subtotal"><span
                                                                class="font-xl text-brand fw-900">₹<%= totalPrice %>
                                                            </span></td>
                                                    </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <form id="checkoutForm">
                                        <input type="hidden" id="paymentMethod" name="paymentMethod" value="">
                                        <div class="payment_option">

                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio"
                                                    name="paymentMethod" id="cod" checked="" value="cod">
                                                <label class="form-check-label" for="cod">Cash on delivery</label>

                                            </div>
                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio"
                                                    name="paymentMethod" id="paypal" value="paypal">
                                                <label class="form-check-label" for="paypal">Paypal</label>

                                            </div>
                                        </div>
                                </div>
                                </form>
                                <a href="#" id="placeOrderBtn" class="btn btn-fill-out btn-block mt-30">Place Order</a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>



        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/preloader.ejs') %>
                <%- include('../layouts/script.ejs') %>


                    <!-- Make sure to include Axios -->
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

                    <script>


                        document.addEventListener('DOMContentLoaded', function () {
                            let selectedPaymentMethod = 'cod';
                            const placeOrderBtn = document.getElementById('placeOrderBtn');
                            const body = document.querySelector('tbody');
                            const cartItems = JSON.parse(body.getAttribute('data-cart-items'));
                            const totalPrice = body.getAttribute('data-total-price');
                            const addressSelect = document.getElementById('savedAddresses');
                            let selectedAddress = addressSelect.value;
                            document.querySelectorAll('input[name="paymentMethod"]').forEach(input => {
                                input.addEventListener('change', function () {
                                    selectedPaymentMethod = this.value;
                                });
                            });
                            addressSelect.addEventListener('change', function () {
                                selectedAddress = this.value;
                            });

                            // Function to check if cartItems is empty
                            function isCartEmpty() {
                                return cartItems.length === 0;
                            }

                            // Function to check if no address is selected
                            function isAddressNotSelected() {
                                return !selectedAddress;
                            }

                            // Function to enable or disable the "Place Order" button based on conditions
                            function updatePlaceOrderBtn() {
                                if (isCartEmpty() || isAddressNotSelected()) {
                                    placeOrderBtn.disabled = true;
                                    placeOrderBtn.textContent = 'Please add a product and select an address.';
                                } else {
                                    placeOrderBtn.disabled = false;
                                    placeOrderBtn.textContent = 'Place Order';
                                }
                            }

                            // Initial check
                            updatePlaceOrderBtn();

                            // Listen for changes in the address select to enable/disable the button
                            addressSelect.addEventListener('change', updatePlaceOrderBtn);

                            placeOrderBtn.addEventListener('click', function (event) {
                                event.preventDefault();

                                if (isCartEmpty() || isAddressNotSelected()) {
                                    Swal.fire({
                                        icon: 'warning',
                                        title: 'Oops...',
                                        text: 'Please add a product or select an address before placing your order.',
                                        confirmButtonText: 'Okay'
                                    });
                                    return;
                                }

                                axios.post('/order/placeOrder', {
                                    items: cartItems,
                                    total: totalPrice,
                                    address: selectedAddress,
                                    paymentMethod: selectedPaymentMethod
                                })
                                    .then(response => {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Order Placed!',
                                            text: 'Your order has been successfully placed.',
                                            confirmButtonText: 'Okay'
                                        });
                                        setTimeout(() => {
                                            const orderConfirmationUrl = `/order/orderConfirmation/${response.data.orderId}`;

                                            window.location.href = orderConfirmationUrl;
                                        }, 2000);
                                    })
                                    .catch(error => {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'Something went wrong! Please try again.',
                                            confirmButtonText: 'Okay'
                                        });
                                        console.error('Error placing order:', error);
                                    });
                            });
                        });
                    </script>