<%- include('../layouts/header.ejs', {address: address, cartItems: cartItems}) %>
    <%- include('../layouts/navbar.ejs', {address: address, cartItems: cartItems}) %>

        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/" rel="nofollow">Home</a>
                        <span></span> Checkout
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-25">
                                <h4>Billing Details</h4>
                            </div>
                            <div class="ship_detail">
                                <div class="form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox"
                                                id="differentaddress" checked>
                                            <label class="form-check-label label_info" data-bs-toggle="collapse"
                                                data-target="#collapseAddress" href="#collapseAddress"
                                                aria-controls="collapseAddress" for="differentaddress"><span>Shipping
                                                    Address</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseAddress" class="different_address collapse in">
                                    <div class="form-group">
                                        <a href="#" class="btn-md btn-primary" id="addAddressModalBtn"
                                            data-toggle="modal" data-target="#addAddressModal">Add Address</a>
                                        <br>
                                        <br>
                                        <label for="savedAddresses">Select Address:</label>

                                        <% address.forEach((address, index)=> { %>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <div class="custome-radio">
                                                                <input class="form-check-input" type="radio"
                                                                    name="shippingAddress" id="address_<%= index %>"
                                                                    value="<%= address._id %>" <% if (index===0) {
                                                                    %>checked<% } %>>
                                                                    <label class="form-check-label label_info"
                                                                        for="address_<%= index %>">
                                                                        <span>
                                                                            <%= address.fullName %>, <%= address.houseNo
                                                                                    %>, <%= address.area %>,
                                                                                        <%= address.city %>, <%=
                                                                                                address.state %> - <%=
                                                                                                    address.pincode %>
                                                                        </span>
                                                                    </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                                <!-- Add Address Modal -->
                                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>

                                            </div>
                                            <div class="modal-body">
                                                <form id="addAddressForm">
                                                    <div class="form-group">
                                                        <label for="fullName">Full Name:</label>
                                                        <input type="text" id="fullName" name="fullName">
                                                        <span class="error" id="fullNameError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="mobileNumber">Mobile Number:</label>
                                                        <input type="text" id="mobileNumber" name="mobileNumber">
                                                        <span class="error" id="mobileNumberError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="pincode">Pincode:</label>
                                                        <input type="text" id="pincode" name="pincode">
                                                        <span class="error" id="pincodeError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="houseNo">House No,Name:</label>
                                                        <input type="text" id="houseNo" name="houseNo">
                                                        <span class="error" id="houseNoError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="area">Area,Street,Village</label>
                                                        <input type="text" id="area" name="area">
                                                        <span class="error" id="areaError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city">City:</label>
                                                        <input type="text" id="city" name="city">
                                                        <span class="error" id="cityError"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="state">State:</label>
                                                        <input type="text" id="state" name="state">
                                                        <span class="error" id="stateError"></span>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary" id="addAddress">Add
                                                        Address</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            <div class="form-group">
                                                <div class="left">
                                                    <div class="coupon">
                                                        <form action="#" target="_blank">
                                                            <div class="form-row row justify-content-center">
                                                                <div class="form-group">
                                                                    <% if (appliedCouponId) { %>
                                                                        <input type="text" style="color: green;"
                                                                            class="form-control"
                                                                            value="<%= appliedCouponId.couponCode %> Coupon Applied -  ₹ <%= appliedCouponId.discountAmount %> Off"
                                                                            readonly>
                                                                        <% } else { %>
                                                                            <input type="text" class="font-medium"
                                                                                style="color: black;"
                                                                                value="Select Your Coupon" readonly>
                                                                            <% } %>
                                                                </div>




                                                                <div class="form-group">
                                                                    <% if (appliedCouponId) { %>
                                                                        <button type="button" class="btn-lg btn-danger"
                                                                            onclick="removeCoupon('<%= appliedCouponId.cartItemId || appliedCouponId._id %>')">Remove
                                                                            Coupon</button>
                                                                        <% } else { %>
                                                                            <button type="button"
                                                                                class="btn-lg btn-primary"
                                                                                data-toggle="modal"
                                                                                data-target="#couponModal">Select
                                                                                Coupon</button>
                                                                            <% } %>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Coupon Modal -->
                            <div class="modal fade" id="couponModal" tabindex="-1" role="dialog"
                                aria-labelledby="couponModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="couponModalLabel">Available
                                                Coupons</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body row">
                                            <form id="couponForm">

                                                <% coupons.forEach((coupon, index)=> { %>
                                                    <% if ( totalPrice>= coupon.criteriaAmount) { %>
                                                        <div class="col-12 mb-3">
                                                            <div class="card" style="border-radius: 25px;">
                                                                <div class="card-body">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="couponSelection"
                                                                            id="coupon<%= index %>"
                                                                            value="<%= coupon._id %>">
                                                                        <label class="form-check-label"
                                                                            for="coupon<%= index %>">
                                                                            <h5 class="card-title"
                                                                                style="color: green;">
                                                                                <strong style="color: #000000;">
                                                                                    <%= coupon.couponName %>
                                                                                </strong>&nbsp;you
                                                                                save
                                                                                ₹
                                                                                <%= coupon.discountAmount %>
                                                                            </h5>
                                                                        </label>
                                                                    </div>
                                                                    <p class="card-text">Use this
                                                                        coupon
                                                                        code: <strong style="color: blue">
                                                                            <%= coupon.couponCode %>
                                                                        </strong></p>
                                                                    <p class="card-text">Get
                                                                        ₹<strong style="color: green">
                                                                            <%= coupon.discountAmount %>
                                                                        </strong>Off on <u>₹<strong
                                                                                style="color: green">
                                                                                <%= coupon.criteriaAmount %>
                                                                            </strong></u> and Above
                                                                    </p>
                                                                    <p class="card-text">Expiry On
                                                                        <strong style="color: Red">
                                                                            <%= coupon.expiryDate.toDateString() %>
                                                                        </strong>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <% }); %>
                                            </form>

                                        </div>
                                        <div id="validationMessage" class="text-danger mt-2"
                                            style=" text-align: center;"></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn-lg btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="button" class="btn-lg btn-primary"
                                                onclick="applyCoupon(event)">Apply Coupon</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody data-cart-items="<%= JSON.stringify(cartItems) %>"
                                            data-total-price="<%= totalPrice %>">
                                            <% cartItems.forEach(cartItem=> { %>
                                                <% cartItem.products.forEach(product=> { %>
                                                    <tr>
                                                        <td class="image product-thumbnail">
                                                            <a href="/productdetails/<%= product.productId._id %>">
                                                                <img src="/uploads/product/resized/<%=product.productId.productImage[0] %>"
                                                                    alt="<%= product.name %> photo">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h5 class="product-name"> <a
                                                                    href="/productdetails/<%= product.productId._id %>">
                                                                    <%= product.name %>
                                                            </h5> (<%= product.price %>) <span class="product-qty"> *
                                                                    <%= product.quantity %> </a>
                                                                </span>
                                                        </td>
                                                        <td>₹<%= product.total %>
                                                        </td>

                                                    </tr>
                                                    <% }); %>
                                                        <% }); %>



                                        </tbody>
                                    </table>
                                    <table>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal">₹<%= totalPrice.toFixed(2)%>
                                        </td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%=
                                                        totalPrice.toFixed(2) %>
                                                </span>
                                                <input type="hidden" name="offerDiscount" value="<%= offerDiscount %>">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <form id="checkoutForm">
                                        <input type="hidden" id="paymentMethod" name="paymentMethod" value="">
                                        <div class="payment_option">

                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio"
                                                    name="paymentMethod" id="cod" checked="" value="cod">
                                                <label class="form-check-label" for="cod">Cash on delivery</label>

                                            </div>
                                            <div class="custome-radio">
                                                <input class="form-check-input" required="" type="radio"
                                                    name="paymentMethod" id="paypal" value="paypal">
                                                <label class="form-check-label" for="paypal">Paypal</label>

                                            </div>
                                        </div>
                                </div>
                                </form>
                                <a href="#" id="placeOrderBtn" class="btn btn-fill-out btn-block mt-30">Place Order</a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>



        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/preloader.ejs') %>
                <%- include('../layouts/script.ejs') %>

                    <!-- Include jQuery first -->
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <!-- Then include Bootstrap's JavaScript -->
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                    <!-- Make sure to include Axios -->
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




                    <script>



                        document.addEventListener('DOMContentLoaded', function () {
                            $(document).ready(function () {
                                $('#addAddressModalBtn').click(function () {
                                    $('#addAddressModal').modal('show');
                                });

                                $('.close').click(function () {
                                    $('#addAddressModal').modal('hide');
                                });
                            });
                            $(document).ready(function () {
                                $('#addAddressForm').submit(function (event) {
                                    event.preventDefault();
                                    // Reset error messages
                                    $('.error').text('');

                                    // Validation
                                    const fullName = $('#fullName').val().trim();
                                    const mobileNumber = $('#mobileNumber').val().trim();
                                    const pincode = $('#pincode').val().trim();
                                    const houseNo = $('#houseNo').val().trim();
                                    const area = $('#area').val().trim();
                                    const city = $('#city').val().trim();
                                    const state = $('#state').val().trim();
                                    let isValid = true;

                                    if (fullName === '') {
                                        $('#fullNameError').text('Please enter your full name.');
                                        isValid = false;
                                    }
                                    if (mobileNumber === '' || !/^\d{10}$/.test(mobileNumber)) {
                                        $('#mobileNumberError').text('Please enter a valid 10-digit mobile number.');
                                        isValid = false;
                                    }
                                    if (pincode === '' || !/^\d{6}$/.test(pincode)) {
                                        $('#pincodeError').text('Please enter a valid 6-digit pincode.');
                                        isValid = false;
                                    }
                                    if (houseNo === '') {
                                        $('#houseNoError').text('Please enter your house number/name.');
                                        isValid = false;
                                    }
                                    if (area === '') {
                                        $('#areaError').text('Please enter your area/street/village.');
                                        isValid = false;
                                    }
                                    if (city === '') {
                                        $('#cityError').text('Please enter your city.');
                                        isValid = false;
                                    }
                                    if (state === '') {
                                        $('#stateError').text('Please enter your state.');
                                        isValid = false;
                                    }
                                    if (!isValid) {
                                        return;
                                    }
                                    const formData = new FormData(this);

                                    axios.post('/addAddress', Object.fromEntries(formData))
                                        .then(response => {
                                            if (response.data.status) {
                                                Swal.fire({
                                                    icon: "success",
                                                    title: "Address add successfully!",
                                                    showConfirmButton: false,
                                                    timer: 2000
                                                });
                                                setTimeout(() => {
                                                    location.reload();
                                                }, 2000);
                                            } else {
                                                console.error(response.data);
                                            }
                                        })
                                        .catch(err => {
                                            console.error('Error:', err);
                                            if (!err.response.data.success) {
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: 'Error',
                                                    text: err.response.data.message,
                                                });
                                            } else {
                                                console.error(err);
                                            }
                                        });
                                });
                            });
                            let selectedPaymentMethod = 'cod';
                            const placeOrderBtn = document.getElementById('placeOrderBtn');
                            let isSubmitting = false;
                            const body = document.querySelector('tbody');
                            const cartItems = JSON.parse(body.getAttribute('data-cart-items'));
                            const totalPrice = body.getAttribute('data-total-price');
                            const addressRadios = document.querySelectorAll('input[name="shippingAddress"]');
                            const couponDiscount = `<%= appliedCouponId ? appliedCouponId.discountAmount : 0 %>`;
                            const offerDiscount =`<%= offerDiscount ? offerDiscount:0 %>`

                            document.querySelectorAll('input[name="paymentMethod"]').forEach(input => {
                                input.addEventListener('change', function () {
                                    selectedPaymentMethod = this.value;
                                });
                            });
                            function updateSelectedAddressId() {
                                addressRadios.forEach(radio => {
                                    if (radio.checked) {
                                        selectedAddressId = radio.value;
                                    }
                                });
                            }

                            updateSelectedAddressId();

                            // Function to check if cartItems is empty
                            function isCartEmpty() {
                                return cartItems.length === 0;
                            }

                            // Function to check if no address is selected
                            function isAddressNotSelected() {
                                return !selectedAddressId;
                            }
                            // Function to update the "Place Order" button based on conditions
                            function updatePlaceOrderBtn() {
                                if (isCartEmpty() || isAddressNotSelected()) {
                                    placeOrderBtn.disabled = true;
                                    placeOrderBtn.textContent = 'Please add a product and select an address.';
                                } else {
                                    placeOrderBtn.disabled = false;
                                    placeOrderBtn.textContent = 'Place Order';
                                }
                            }

                            // Initial check
                            updatePlaceOrderBtn();

                            // Listen for changes in the radio buttons for addresses
                            addressRadios.forEach(radio => {
                                radio.addEventListener('change', function () {
                                    updateSelectedAddressId();
                                    updatePlaceOrderBtn();
                                });
                            });

                            placeOrderBtn.addEventListener('click', async function (event) {
                                event.preventDefault();
                                if (isCartEmpty() || isAddressNotSelected()) {
                                    Swal.fire({
                                        icon: 'warning',
                                        title: 'Oops...',
                                        text: 'Please add a product or select an address before placing your order.',
                                        confirmButtonText: 'Okay'
                                    });
                                    return;
                                }
                                if (isSubmitting) {
                                    return;
                                }
                                placeOrderBtn.disabled = true;
                                isSubmitting = true;
                                await new Promise(resolve => setTimeout(resolve, 10000));

                                placeOrderBtn.disabled = false;
                                isSubmitting = false;
                                axios.post('/order/placeOrder', {
                                    items: cartItems,
                                    total: totalPrice,
                                    addressId: selectedAddressId,
                                    paymentMethod: selectedPaymentMethod,
                                    couponDiscount: couponDiscount,
                                    offerDiscount:offerDiscount
                                })
                                    .then(response => {
                                        if (selectedPaymentMethod === 'paypal') {
                                          
                                            if (response.data.approvalUrl) {
                                                window.location.href = response.data.approvalUrl;
                                            } else {
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: 'Oops...',
                                                    text: 'PayPal payment initiation failed. Please try again.',
                                                    confirmButtonText: 'Okay'
                                                });
                                            }
                                        } else {
                                         
                                            if (response.data.success)
                                                Swal.fire({
                                                    icon: 'success',
                                                    title: 'Order Placed!',
                                                    text: response.data.message,
                                                    confirmButtonText: 'Okay'
                                                });
                                            setTimeout(() => {
                                                const orderConfirmationUrl = `/order/orderConfirmation/${response.data.orderId}`;

                                                window.location.href = orderConfirmationUrl;
                                            }, 2000);
                                        }
                                    })
                                    .catch(error => {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text:error.message,
                                            confirmButtonText: 'Okay'
                                        });
                                        console.error('Error placing order:', error);
                                    });
                            });
                        });




                        function applyCoupon(event) {
                            event.preventDefault();
                            const selectedCoupon = document.querySelector('input[name="couponSelection"]:checked');
                            const validationMessage = document.getElementById('validationMessage');

                            if (!selectedCoupon) {
                                validationMessage.textContent = 'Please select a coupon.';
                                validationMessage.style.display = 'block';
                                return;
                            }

                            const couponId = selectedCoupon.value;
                            validationMessage.style.display = 'none';

                            fetch('/cart/applyCoupon', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ couponId: couponId })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.status) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Coupon Applied!',
                                            text: 'Your coupon has been successfully applied.',
                                        });
                                        setTimeout(() => {
                                            location.reload()
                                        }, 2000);
                                    } else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Error!',
                                            text: 'Failed to apply the coupon.',
                                        });
                                    }
                                })
                                .catch(error => {
                                    console.error(error);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error!',
                                        text: 'An error occurred while applying the coupon.',
                                    });
                                });
                        }




                        function removeCoupon(couponId) {


                            // Use SweetAlert for confirmation
                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, remove it!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    fetch('/cart/removeCoupon', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ couponId: couponId })
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data.status) {

                                                Swal.fire(
                                                    'Removed!',
                                                    'Your coupon has been removed.',
                                                    'success'
                                                );
                                                setTimeout(() => {
                                                    location.reload()
                                                }, 2000);
                                            } else {
                                                // Handle the error
                                                Swal.fire(
                                                    'Error!',
                                                    'Failed to remove the coupon.',
                                                    'error'
                                                );
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                            Swal.fire(
                                                'Error!',
                                                'An error occurred while removing the coupon.',
                                                'error'
                                            );
                                        });
                                }
                            });
                        }

                    </script>