<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/navbar.ejs') %>

        <section class="pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <!-- Image Column -->
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="/imgs/pages/Contact Us Page.png" alt="contact us" class="img-fluid">
                    </div>

                    <!-- Contact Form Column -->
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center ">
                        <div class="container">
                            <h5 class="text-center"> <strong>Contact Us</strong></h5>
                            <br>
                            <p><strong>Address:</strong> Near Kondotty, Malappuram (Dt),Kerala (St), India</p>
                            <p><strong>Phone:</strong> +91 9633351499</p>
                            <p><strong>Hours:</strong> 8:00 - 20:00, Mon - Sat</p>

                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="https://www.facebook.com/Akhildasaki"><img
                                        src="/imgs/theme/icons/icon-facebook.svg" alt="fb"></a>
                                <a href="https://www.instagram.com/akhildas___2___aki/"><img
                                        src="/imgs/theme/icons/icon-instagram.svg" alt="insta"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/preloader.ejs') %>
                <%- include('../layouts/script.ejs') %>