<%- include('../layouts/header.ejs') %>
<%- include('../layouts/navbar.ejs') %>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Forgot Password
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5 m-auto">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-20 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Forgot Password</h3>
                                    </div>
                                    <form method="post" action="">
                                        <div class="form-group">
                                            <input type="text" required="" name="email" placeholder="Your Email">
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up rounded-pill" name="resetPassword">Reset Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% if (typeof message !=='undefined' && message) { %>
    <script>
        alert("<%= message %>");
    </script>
    <% } %>

<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/preloader.ejs') %>
<%- include('../layouts/script.ejs') %>


