<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/navbar.ejs') %>

        <body>


            <main class="main">
                <!-- this for slider -->
                <section class="home-slider position-relative pt-25 pb-20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="position-relative">
                                    <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                        <div class="single-hero-slider single-animation-wrap">
                                            <div class="container">
                                                <div class="slider-1-height-3 slider-animated-1">
                                                    <div class="hero-slider-content-2">
                                                        <h4 class="animated">Trade-In Offer</h4>
                                                        <h2 class="animated fw-900">Supper Value Deals</h2>
                                                        <h1 class="animated fw-900 text-brand">On All Products</h1>
                                                        <p class="animated">Save more with coupons & up to 70% off</p>
                                                        <a class="animated btn btn-brush btn-brush-3"
                                                            href="shop-product-right.html"> Shop Now </a>
                                                    </div>
                                                    <div class="slider-img">
                                                        <img src="/imgs/slider/slider-4.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-hero-slider single-animation-wrap">
                                            <div class="container">
                                                <div class="slider-1-height-3 slider-animated-1">
                                                    <div class="hero-slider-content-2">
                                                        <h4 class="animated">Tech Promotions</h4>
                                                        <h2 class="animated fw-900">Tech Trending</h2>
                                                        <h1 class="animated fw-900 text-brand">Great Collection</h1>
                                                        <p class="animated">Save more with coupons & up to 20% off</p>
                                                        <a class="animated btn btn-brush btn-brush-3"
                                                            href="shop-product-right.html"> Shop Now </a>
                                                    </div>
                                                    <div class="slider-img">
                                                        <img src="/imgs/slider/slider-5.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-md-none d-lg-block">
                                <div class="banner-img banner-1 wow fadeIn  animated home-3">
                                    <img class="border-radius-10" src="/imgs/banner/banner-5.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Accessories</span>
                                        <h4>Save 17% on <br>Autumn Hat</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="banner-img banner-2 wow fadeIn  animated mb-0">
                                    <img class="border-radius-10" src="/imgs/banner/banner-7.jpg" alt="">
                                    <div class="banner-text">
                                        <span>Smart Offer</span>
                                        <h4>Save 20% on <br>Eardrop</h4>
                                        <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- this for box iteam-->
                <section class="featured section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-1.png" alt="">
                                    <h4 class="bg-1">Free Shipping</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-2.png" alt="">
                                    <h4 class="bg-3">Online Order</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-3.png" alt="">
                                    <h4 class="bg-2">Save Money</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-4.png" alt="">
                                    <h4 class="bg-4">Promotions</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-5.png" alt="">
                                    <h4 class="bg-5">Happy Sell</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                                <div class="banner-features wow fadeIn animated hover-up animated">
                                    <img src="/imgs/theme/icons/feature-6.png" alt="">
                                    <h4 class="bg-6">24/7 Support</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- this for product-->
                <section class="product-tabs section-padding wow fadeIn animated">
                    <div class="container">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                        data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                        aria-selected="true">Featured</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab"
                                        data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two"
                                        aria-selected="false">Popular</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab"
                                        data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three"
                                        aria-selected="false">New added</button>
                                </li>
                            </ul>
                            <a href="#" class="view-more d-none d-md-flex">View More<i
                                    class="fi-rs-angle-double-small-right"></i></a>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <% for(let i=0; i<products.length; i++) { %>
                                        <div class="col-lg-3 col-md-4 col-6 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/productdetails/<%= products[i]._id %>">
                                                            <img class="default-img "
                                                                src="/uploads/product/resized/<%= products[i].productImage[0] %>"
                                                                alt="">
                                                            <img class="hover-img"
                                                                src="/uploads/product/resized/<%= products[i].productImage[1] %>"
                                                                alt="">

                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal"><i
                                                                class="fi-rs-eye"></i></a>
                                                                <% if (userWishlist.some(item => item.productId.equals(products[i]._id))) { %>
                                                                    <a aria-label="Add To Wishlist" class="action-btn" style="background-color: red;"
                                                                        onclick="addToWishList('<%= products[i]._id %>')"><i
                                                                            class="fi-rs-heart"></i></a>
                                                                <% } else { %>
                                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                                        onclick="addToWishList('<%= products[i]._id %>')"><i
                                                                            class="fi-rs-heart"></i></a>
                                                                <% } %>
                                                      
                                                        <a aria-label="Compare" class="action-btn hover-up"
                                                            href="#"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <% if(products[i].isNew) { %>
                                                            <span class="new">New</span>
                                                            <% } %>
                                                                <% if(products[i].isHot) { %>
                                                                    <span class="hot">Hot</span>
                                                                    <% } %>
                                                                        <% if(products[i].isBestSeller) { %>
                                                                            <span class="best">Best Sell</span>
                                                                            <% } %>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="/productdetails/<%= products[i]._id %>">
                                                            <% if (products[i].category) { %>
                                                                <p>
                                                                    <%= products[i].category.categoryName %>
                                                                </p>
                                                                <% } else { %>
                                                                    <p>Category: Not specified</p>
                                                                    <% } %>
                                                        </a>
                                                    </div>
                                                    <h2><a href="/productdetails/<%= products[i]._id %>">
                                                            <%= products[i].name%>
                                                        </a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                            <span>90%</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-card__price d-flex">
                                                        <% let discountedPrice = products[i].price; %>
                                                        <% let hasDiscount = false; %>
                                                      
                                                        <% if (products[i].offer && products[i].offer.discount) { %>
                                                          <% discountedPrice = discountedPrice - (discountedPrice * (products[i].offer.discount / 100)); %>
                                                          <% hasDiscount = true; %>
                                                        <% } %>
                                                      
                                                        <% if (products[i].category && products[i].category.offer) { %>
                                                          <% const categoryOffer = products[i].category.offer; %>
                                                          <% console.log('Category Offer for product:', products[i].name, categoryOffer); %>
                                                          <% if (categoryOffer && categoryOffer.discount) { %>
                                                            <% console.log('Applying category offer discount:', categoryOffer.discount, 'for product:', products[i].name); %>
                                                            <% discountedPrice = discountedPrice - (discountedPrice * (categoryOffer.discount / 100)); %>
                                                            <% hasDiscount = true; %>
                                                          <% } else { %>
                                                            <% console.log('No category offer discount available for product:', products[i].name); %>
                                                          <% } %>
                                                        <% } else { %>
                                                          <% console.log('No category offer available for product:', products[i].name); %>
                                                        <% } %>
                                                      
                                                        <% if (hasDiscount) { %>
                                                          <span class="money price">
                                                            <del>₹<%= products[i].price.toFixed(2) %></del>
                                                            &nbsp;<span class="discounted-price" style="color: green;">₹<%= discountedPrice.toFixed(2) %></span>
                                                          </span>
                                                        <% } else { %>
                                                          <span class="money price">₹<%= products[i].price.toFixed(2) %></span>
                                                        <% } %>
                                                      </div>
                                                    <div class="product-price">
                                                        <span>₹<%= products[i].price %> </span>
                                                        <% if(products[i].price) { %>
                                                            <span class="old-price">₹<%= products[i].price %></span>
                                                            <% } %>
                                                    </div>

                                                    <div class="product-action-1 show">
                                                        <button aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= products[i]._id %>', '<%= products[i].name %>', '<%= products[i].price %>')">
                                                            <i class="fi-rs-shopping-bag-add"></i>
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- <section class="banner-2 section-padding pb-0">
            <div class="container">
                <div class="banner-img banner-big wow fadeIn animated f-none">
                    <img src="/imgs/banner/banner-4.png" alt="">
                    <div class="banner-text d-md-block d-none">
                        <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
                        <h1 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h1>
                        <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section> -->
                <!--  <section class="popular-categories section-padding mt-15">
                            <div class="container wow fadeIn animated">
                                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                                <div class="carausel-6-columns-cover position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
                                        id="carausel-6-columns-arrows"></div>
                                    <div class="carausel-6-columns" id="carausel-6-columns">
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-1.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">T-Shirt</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"> <img
                                                        src="/imgs/shop/category-thumb-2.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Bags</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-3.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Sandan</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-4.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Scarf Cap</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-5.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Shoes</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-6.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Pillowcase</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-7.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Jumpsuits</a></h5>
                                        </div>
                                        <div class="card-1">
                                            <figure class=" img-hover-scale overflow-hidden">
                                                <a href="shop-grid-right.html"><img
                                                        src="/imgs/shop/category-thumb-8.jpg" alt=""></a>
                                            </figure>
                                            <h5><a href="shop-grid-right.html">Hats</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> -->
                <!-- <section class="banners mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/imgs/banner/banner-1.png" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/imgs/banner/banner-2.png" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="/imgs/banner/banner-3.png" alt="">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding">
            <div class="container pb-20">
                <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
                <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                    <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-1.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-2.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-3.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-4.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-5.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-6.png" alt="">
                        </div>
                        <div class="brand-logo">
                            <img class="img-grey-hover" src="/imgs/banner/brand-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
            </main>
            <%- include('../layouts/footer.ejs') %>
                <%- include('../layouts/preloader.ejs') %>
                    <%- include('../layouts/script.ejs') %>
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                        <script>
                           function addToCart(productId, name, price) {
                                // Assuming you want to add 1 quantity by default
                                const quantity = 1;

                                fetch('/cart/addToCart/' + productId, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ productId, name, quantity, price }),
                                })
                                    .then(response => {
                                        if (response.redirected) {
                                            return Swal.fire({
                                                title: 'Login Required',
                                                text: 'You must be logged in to add items to your cart.',
                                                icon: 'warning',
                                                showCancelButton: true,
                                                confirmButtonText: 'Login',
                                                cancelButtonText: 'Cancel',
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    window.location.href = '/login';
                                                } else {
                                                    throw new Error('Action cancelled');
                                                }
                                            });
                                        }
                                        return response.json();
                                    })

                                    .then(data => {
                                        if (data.status) {
                                            // Show a success message using SweetAlert2
                                            const Toast = Swal.mixin({
                                                toast: true,
                                                position: "top-end",
                                                showConfirmButton: false,
                                                timer: 3000,
                                                timerProgressBar: true,
                                                didOpen: (toast) => {
                                                    toast.onmouseenter = Swal.stopTimer;
                                                    toast.onmouseleave = Swal.resumeTimer;
                                                }
                                            });
                                            Toast.fire({
                                                icon: "success",
                                                title: 'Success!',
                                                text: data.message,
                                            });
                                        } else {
                                            // Handle errors
                                            Swal.fire({
                                                title: 'Error!',
                                                text: data.message,
                                                icon: 'error',
                                            });
                                        }
                                    })
                                    .catch(err => {
                                        if (!err.data.success) {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Error',
                                                text: err.response.data.message,
                                            });
                                        } else {
                                            console.error(err);
                                        }
                                    });
                            }


                            function addToWishList(productId) {


                                fetch('/wishList/addTowishList/' + productId, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ productId }),
                                })

                                    .then(response => {
                                        if (response.redirected) {
                                            return Swal.fire({
                                                title: 'Login Required',
                                                text: 'You must be logged in to add items to your Wishlist.',
                                                icon: 'warning',
                                                showCancelButton: true,
                                                confirmButtonText: 'Login',
                                                cancelButtonText: 'Cancel',
                                            }).then((result) => {
                                                if (result.isConfirmed) {
                                                    window.location.href = '/login';
                                                } else {
                                                    throw new Error('Action cancelled');
                                                }
                                            });
                                        }
                                        return response.json();
                                    })

                                    .then(data => {
                                        if (data.status) {
                                            // Show a success message using SweetAlert2
                                            const Toast = Swal.mixin({
                                                toast: true,
                                                position: "top-end",
                                                showConfirmButton: false,
                                                timer: 3000,
                                                timerProgressBar: true,
                                                didOpen: (toast) => {
                                                    toast.onmouseenter = Swal.stopTimer;
                                                    toast.onmouseleave = Swal.resumeTimer;
                                                }
                                            });
                                            Toast.fire({
                                                icon: "success",
                                                title: 'Success!',
                                                text: data.message,
                                            });
                                          setTimeout(() => {
                                            location.reload();
                                          }, 3000);
                                        } else {
                                            // Handle errors
                                            Swal.fire({
                                                title: 'Error!',
                                                text: data.message,
                                                icon: 'error',
                                            });
                                        }
                                    })
                                    .catch(err => {
                                        if (!err.data.success) {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Error',
                                                text: err.response.data.message,
                                            });
                                        } else {
                                            console.error(err);
                                        }
                                    });
                            }

                        </script>