<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/navbar.ejs') %>
        <style>
            .containers {
                background-color: #f0f8ff;
                /* Light Blue background color for the container */
                padding: 20px;
            }

            .order-confirmation {
                background-color: #d4edda;
                /* Light Green background color for the order confirmation section */
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 20px;
            }

            .order-confirmation h2 {
                color: #14ee47;
                /* Dark Green color for the headings */
            }

            .order-info,
            .order-charges,
            .billing-address {
                background-color: #f9f9f9;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                height: 100%;
            }

            .order-info h3,
            .order-charges h3,
            .billing-address h3 {
                margin-top: 0;
            }

            .order-info p,
            .order-charges p,
            .billing-address p {
                margin-bottom: 8px;
            }

            .order-info button {
                margin-top: 8px;
            }

            .order-info strong,
            .order-charges strong,
            .billing-address strong {
                font-weight: bold;
            }
        </style>
        <br>
        <div class="container">
            <div class="order-confirmation text-center">
                <h2 class="my-4"><i class="fas fa-check-circle" style="color: green;"></i> Order Confirmation</h2>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/uploads/product/resized/<%= order.items[0].productId.productImage[0] %>" 
                             alt="<%= order.items[0].productId.name %>" style="height: 200px;width: 200px;">
                    </div>
                </div>
                <br>
                <div class="row">
                    <% if (order.shippingCharge > 0 || order.offerDiscount > 0 || order.couponDiscount > 0) { %>
                        <div class="col-md-4">
                            <div class="order-info">
                                <h3>Order Information</h3>
                                <hr>
                                <p><strong>Order ID:</strong> <%= order.ordersId %></p>
                                <p><strong>Date:</strong> <%= order.date.toDateString() %></p>
                                <p><strong>Expected Delivery Date:</strong> <%= new Date(order.expectedDelivery).toDateString() %></p>
                                <% if (order.paymentMethod === 'paypal') { %>
                                    <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
                                    <p><strong>Payment Status:</strong>
                                        <% if (order.status === 'retry') { %>
                                            <button id="retryButton" class="btn btn-default btn-sm">Retry Payment</button>
                                        <% } else { %>
                                            <%= order.status %>
                                        <% } %>
                                    </p>
                                <% } %>
                                <p><strong>Order Status:</strong> <%= order.items[0].orderStatus %></p>
                                <p><strong>Total:</strong> ₹<%= order.totalAmount %></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="order-charges">
                                <h3> Charges & Discount</h3>
                                <hr>
                                <% if (order.shippingCharge > 0) { %>
                                    <p><strong>Shipping Charges:</strong> <%= order.shippingCharge %></p>
                                <% } %>
                                <% if (order.offerDiscount > 0) { %>
                                    <p><strong>Offer Discount:</strong> <%= order.offerDiscount %></p>
                                <% } %>
                                <% if (order.couponDiscount > 0) { %>
                                    <p><strong>Coupon Discount:</strong> <%= order.couponDiscount %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="billing-address">
                                <h3>Billing Address</h3>
                                <hr>
                                <p><strong>Name:</strong> <%= order.deliveryAddress.fullName %></p>
                                <p><strong>Email:</strong> <%= order.userId.email %></p>
                                <p><strong>Phone Number:</strong> <%= order.deliveryAddress.mobileNumber %></p>
                                <p><strong>Address:</strong> <%= order.deliveryAddress.houseNo %>, <%= order.deliveryAddress.area %>, <%= order.deliveryAddress.city %>, <%= order.deliveryAddress.state %></p>
                                <p><strong>Pincode:</strong> <%= order.deliveryAddress.pincode %></p>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col-md-6">
                            <div class="order-info">
                                <h3>Order Information</h3>
                                <hr>
                                <p><strong>Order ID:</strong> <%= order.ordersId %></p>
                                <p><strong>Date:</strong> <%= order.date.toDateString() %></p>
                                <p><strong>Expected Delivery Date:</strong> <%= new Date(order.expectedDelivery).toDateString() %></p>
                                <% if (order.paymentMethod === 'paypal') { %>
                                    <p><strong>Payment Method:</strong> <%= order.paymentMethod %></p>
                                    <p><strong>Payment Status:</strong>
                                        <% if (order.status === 'retry') { %>
                                            <button id="retryButton" class="btn btn-default btn-sm">Retry Payment</button>
                                        <% } else { %>
                                            <%= order.status %>
                                        <% } %>
                                    </p>
                                <% } %>
                                <p><strong>Order Status:</strong> <%= order.items[0].orderStatus %></p>
                                <p><strong>Total:</strong> ₹<%= order.totalAmount %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="billing-address">
                                <h3>Billing Address</h3>
                                <hr>
                                <p><strong>Name:</strong> <%= order.deliveryAddress.fullName %></p>
                                <p><strong>Email:</strong> <%= order.userId.email %></p>
                                <p><strong>Phone Number:</strong> <%= order.deliveryAddress.mobileNumber %></p>
                                <p><strong>Address:</strong> <%= order.deliveryAddress.houseNo %>, <%= order.deliveryAddress.area %>, <%= order.deliveryAddress.city %>, <%= order.deliveryAddress.state %></p>
                                <p><strong>Pincode:</strong> <%= order.deliveryAddress.pincode %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/shop" class="btn btn-default">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        <br>
        <br>

        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/script.ejs') %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                <script>
                    document.getElementById('retryButton').addEventListener('click', function () {
                        var ordersId = `<%= order.ordersId %>`;
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You are about to retry the payment.",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Yes, retry!',
                            cancelButtonText: 'No, cancel!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                axios.put(`/order/retryPayment/${ordersId}`)
                                    .then(response => {
                                        if (response.data.approvalUrl) {
                                            window.location.href = response.data.approvalUrl;
                                        } else if (response.data.success) {
                                            Swal.fire(
                                                'Success!',
                                                'Payment retried successfully.',
                                                'success'
                                            );
                                            setTimeout(() => {
                                                const orderConfirmationUrl = `/order/orderConfirmation/${response.data.orderId}`;
                                                window.location.href = orderConfirmationUrl;
                                            }, 3000);
                                        } else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: 'PayPal payment initiation failed. Please try again.',
                                                confirmButtonText: 'Okay'
                                            });
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error retrying payment:', error.response ? error.response.data : error.message);
                                        Swal.fire(
                                            'Error!',
                                            'An error occurred while retrying the payment. Please try again.',
                                            'error'
                                        );
                                    });
                            }
                        });
                    });


                </script>