<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/navbar.ejs') %>
        <style>
            .containers {
                background-color: #f0f8ff;
                /* Light Blue background color for the container */
                padding: 20px;
            }

            .order-confirmation {
                background-color: #d4edda;
                /* Light Green background color for the order confirmation section */
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 20px;
            }

            .order-confirmation h2 {
                color: #14ee47;
                /* Dark Green color for the headings */
            }
        </style>
        <br>
        <div class="container">
            <div class="order-confirmation text-center"> <!-- Added text-center class -->
                <h2 class="my-4"><i class="fas fa-check-circle" style="color: green;"></i> Order Confirmation</h2>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/uploads/product/resized/<%= order.items[0].productId.productImage[0]  %>"
                            alt="<%= order.items[0].productId.name %>" style="height: 200px;width: 200px;">
                            
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Order Information</h3>
                        <br>
                        <p><strong>Order ID:</strong>
                            <%= order.ordersId %>
                        </p>
                        <p><strong>Date:</strong>
                            <%= order.date.toDateString() %>
                        </p>
                        <p><strong>Expected Delivery Date:</strong>
                            <%= new Date(order.expectedDelivery).toDateString() %>
                        </p>
                        <p><strong>Payment Method:</strong>
                            <%= order.paymentMethod %>
                        </p>
                        <p><strong>Payment Status:</strong>
                            <%= order.status %>
                        </p>
                        <p><strong>Order Status:</strong> <%= order.items[0].orderStatus %></p>

                        <p><strong>Total:</strong> ₹<%= order.totalAmount %>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>User Information</h3>
                        <br>
                        <p><strong>Name:</strong>
                            <%= order.deliveryAddress.fullName %>
                        </p>
                        <p><strong>Email:</strong>
                            <%= order.userId.email %>
                        </p>
                        <p><strong>Phone Number:</strong>
                            <%= order.deliveryAddress.mobileNumber %>
                        </p>

                    </div>

                    <div class="col-md-4">
                        <h3>Billing Address</h3>
                        <br>
                        
                        <p><strong>House No:</strong>
                            <%= order.deliveryAddress.houseNo %>
                        </p>
                        <p><strong>Area:</strong>
                            <%= order.deliveryAddress.area %>
                        </p>
                        <p><strong>City:</strong>
                            <%= order.deliveryAddress.city %>
                        </p>
                        <p><strong>State:</strong>
                            <%= order.deliveryAddress.state %>
                        </p>
                        <p><strong>Pincode:</strong>
                            <%= order.deliveryAddress.pincode %>
                        </p>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/shop" class="btn btn-primary">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <%- include('../layouts/footer.ejs') %>
            <%- include('../layouts/script.ejs') %>