<%- include('../layouts/header.ejs') %>
  <%- include('../layouts/navbar.ejs') %>
    <style>
      .containers {
        background-color: #f0f8ff;
        /* Light Blue background color for the container */
        padding: 20px;
      }

      .order-Details {
        background-color: #d4edda;
        /* Light Green background color for the order confirmation section */
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
      }

      .order-Details h2 {
        color: #14ee47;
        /* Dark Green color for the headings */
      }
    </style>
    <div class="container">
      <br>
      <h2>Order Details</h2>
      <hr>
      <div class="row order-Details">
        <div class="col-12">
          <% order.items.forEach(item => { %>
            <img src="/uploads/product/resized/<%= item.productId.productImage[0] %>" style="width: 200px;height: 200px;" alt="<%= item.productId.name %>">
            <%= item.productId.name %>
            $<%= item.price %>
            <%= item.orderStatus %>
            <% if (item.orderStatus !== 'cancelled') { %>
              <button class="btn-warnings cancel-product" data-item-id="<%= item._id %>">Cancel Product</button>
            <% } else { %>
              <button class="btn-dangers cancel-product" disabled>Cancelled</button>
            <% } %>
          <% }) %>
          
        </div>
        <div class="col-md-6">
          <h3>Order Information</h3>
          <p><strong>Order ID:</strong>
            <%= order.ordersId %>
          </p>
          <p><strong>Date:</strong>
            <%= order.date.toDateString() %>
          </p>
          <p><strong>Expected Delivery Date:</strong>
            <%= new Date(order.expectedDelivery).toDateString() %>
          </p>
          <p><strong>Payment Method:</strong>
            <%= order.paymentMethod %>
          </p>

          <p><strong>Payment Status:</strong>
            <%= order.status %>
          </p>
          <p><strong>Total:</strong>₹<%= order.totalAmount %>
          </p>
          
  
        </div>
      
        <div class="col-md-6">
          <h3>User Information</h3>
          <p><strong>Name:</strong>
            <%= order.deliveryAddress.fullName %>
          </p>
          <p><strong>Phone:</strong>
            <%= order.deliveryAddress.mobileNumber %>
          </p>
          <h3>Address</h3>
          <p><strong>House name:</strong>
            <%= order.deliveryAddress.houseNo %>
          </p>
          <p><strong>Area:</strong>
            <%= order.deliveryAddress.area %>
          </p>
          <p><strong>City:</strong>
            <%= order.deliveryAddress.city %>
          </p>
          <p><strong>State:</strong>
            <%= order.deliveryAddress.state %>
          </p>
          <p><strong>Pin:</strong>
            <%= order.deliveryAddress.pincode %>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
            <h3>Other Items</h3>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Order status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% OtherOrders.forEach(item => { %>
                            <tr>
                                <td>
                                    <img src="/uploads/product/resized/<%= item.productId.productImage[0] %>"  style="width: 200px;height: 200px;" alt="<%= item.productId.name %>">
                                </td>
                                <td><%= item.productId.name %></td>
                                <td>$<%= item.price %></td>
                                <td>
                                      <%= item.orderStatus %>
                              </td>
                                
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    </div>

    <%- include('../layouts/footer.ejs') %>
      <%- include('../layouts/preloader.ejs') %>
        <%- include('../layouts/script.ejs') %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/whatwg-fetch/3.6.2/fetch.min.js"></script>

          <script>
            document.querySelectorAll('.cancel-product').forEach(button => {
              button.addEventListener('click', function () {
                const itemId = this.getAttribute('data-item-id');
                console.log("itemId", itemId);
               
                const orderId = '<%= order._id %>';
                console.log("order", orderId);

                fetch(`/order/cancel/${orderId}/${itemId}`, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({  itemId, orderId })
                })
                  .then(response => {
                    // Log the raw response
                    console.log(response);
                    return response.json();
                  })
                  .then(data => {
                    if (data.success) {
                      alert('Product cancelled successfully.');
                      location.reload(); // Reload the page to reflect the changes
                    } else {
                      alert('Failed to cancel product. Please try again.');
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                  });
              });
            });
          </script>