<%- include('../layouts/header.ejs') %>
  <%- include('../layouts/navbar.ejs') %>
    <style>
      .containers {
        background-color: #f0f8ff;
        /* Light Blue background color for the container */
        padding: 20px;
      }

      .order-Details {
        background-color: #d4edda;
        /* Light Green background color for the order confirmation section */
        border-radius: 25px;
        padding: 20px;
        margin-bottom: 20px;
      }

      .order-Details h2 {
        color: #14ee47;
        /* Dark Green color for the headings */
      }
    </style>
    <div class="container">
      <br>
      <h2>Order Details</h2>
      <hr>
      <div class="row order-Details">
        <div class="col-md-12 text-center">
          <% if (!selectedItem) { %>
            <div class="alert alert-info" role="alert">
              No selected item found. Please select an item.
            </div>
            <% } else { %>
              <img src="/uploads/product/resized/<%= selectedItem.productId.productImage[0] %>"
                style="width: 200px;height: 200px;" alt="<%= selectedItem.productId.name %>">
              <p>
                <%= selectedItem.productId.name %>
              </p>
              <p> ₹<%= selectedItem.price %>
              </p>
              <p>
                <%= selectedItem.orderStatus %>
              </p>
              <% if (selectedItem.orderStatus !='delivered') { %>
                <% if (selectedItem.orderStatus !=='cancelled' ) { %>
                  <button class="btn-warnings cancel-product" data-item-id="<%= selectedItem._id %>">Cancel
                    Product</button>
                  <% } else { %>
                    <button class="btn-dangers cancel-product" disabled>Cancelled</button>
                    <% } %>

                    <% } else { %>
                      <button class="btn-warnings return-product" data-item-id="<%= selectedItem._id %>" >Return Product</button>


              <% } %>
             
                    <% } %>
        </div>
      </div>
      <div class="row order-Details">
        <div class="col-md-6" style="margin-top: 30px;">
          <h3>Order Information</h3>
          <p><strong>Order ID:</strong>
            <%= order.ordersId %>
          </p>
          <p><strong>Date:</strong>
            <%= order.date.toDateString() %>
          </p>
          <p><strong>Expected Delivery Date:</strong>
            <%= new Date(order.expectedDelivery).toDateString() %>
          </p>
          <p><strong>Payment Method:</strong>
            <%= order.paymentMethod %>
          </p>
          <p><strong>Payment Status:</strong>
            <%= order.status %>
          </p>
          <p><strong>Total:</strong> ₹<%= order.totalAmount %>
          </p>
        </div>
        <div class="col-md-6" style="margin-top: 30px;">
          <h3>Address</h3>
          <p><strong>Name:</strong>
            <%= order.deliveryAddress.fullName %>
          </p>
          <p><strong>Phone:</strong>
            <%= order.deliveryAddress.mobileNumber %>
          </p>
          <p><strong>House name:</strong>
            <%= order.deliveryAddress.houseNo %>
          </p>
          <p><strong>Area:</strong>
            <%= order.deliveryAddress.area %>
          </p>
          <p><strong>City:</strong>
            <%= order.deliveryAddress.city %>
          </p>
          <p><strong>State:</strong>
            <%= order.deliveryAddress.state %>
          </p>
          <p><strong>Pin:</strong>
            <%= order.deliveryAddress.pincode %>
          </p>
        </div>
      </div>
      <br>
      <% if (OtherOrders.length> 0) { %>
        <div class="row">
          <div class="col-md-12">
            <h3>Other Items</h3>
            <br>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Order status</th>
                  </tr>
                </thead>
                <tbody>
                  <% OtherOrders.forEach(item=> { %>
                    <tr>
                      <td>
                        <a href="/order/orderDeatil/<%= order._id %>?productId=<%=  item.productId._id %>">
                          <img src="/uploads/product/resized/<%= item.productId.productImage[0] %>"
                            style="width: 200px;height: 200px;" alt="<%= item.productId.name %>">
                        </a>
                      </td>
                      <td>
                        <a href="/order/orderDeatil/<%= order._id %>?productId=<%=  item.productId._id %>">
                          <%= item.productId.name %>
                        </a>
                      </td>
                      <td> ₹<%= item.price %>
                      </td>
                      <td>
                        <%= item.orderStatus %>
                      </td>
                    </tr>

                    <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% } %>
    </div>
    <!-- Modal for cancellation reason -->
    <div class="modal fade" id="cancellationModal" tabindex="-1" aria-labelledby="cancellationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancellationModalLabel">Reason for Cancellation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="cancellationForm">
              <div class="mb-3">
                <label for="cancellationReason" class="form-label">Cancellation Reason</label>
                <textarea id="cancellationReason" class="form-control" rows="4"
                  placeholder="Enter reason for cancellation"></textarea>
                <div id="cancellationReasonError" class="invalid-feedback"></div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="confirmCancellation">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('../layouts/footer.ejs') %>
      <%- include('../layouts/preloader.ejs') %>
        <%- include('../layouts/script.ejs') %>
          <!-- Add SweetAlert JS -->
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

          <script>
            document.querySelectorAll('.cancel-product').forEach(button => {
              button.addEventListener('click', function () {
                const itemId = this.getAttribute('data-item-id');
                $('#cancellationModal').modal('show');
                $('#confirmCancellation').on('click', function () {
                  const cancellationReason = document.getElementById('cancellationReason').value;
                  if (!cancellationReason.trim()) {
                    document.getElementById('cancellationReason').classList.add('is-invalid');
                    document.getElementById('cancellationReasonError').textContent = 'Please enter a reason for cancellation.';
                    return;
                  }
                  const orderId = '<%= order._id %>';
                  fetch(`/order/cancel/${orderId}/${itemId}`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ itemId, orderId, cancellationReason })
                  })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success) {
                        // Use SweetAlert for success message
                        Swal.fire({
                          icon: 'success',
                          title: 'Success',
                          text: 'Successfully canceled.',
                          confirmButtonText: 'OK',
                        }).then(() => {
                          $('#cancellationModal').modal('hide'); // Close the modal
                          location.reload(); // Reload the page to reflect the changes
                        });
                      } else {
                        // Use SweetAlert for error message
                        Swal.fire({
                          icon: 'error',
                          title: 'Error',
                          text: 'Failed to cancel product. Please try again.',
                          confirmButtonText: 'OK'
                        });
                      }
                    })
                    .catch(error => {
                      console.error('Error:', error);
                      // Use SweetAlert for generic error message
                      Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.',
                        confirmButtonText: 'OK'
                      });
                    });
                });
              });
            });






            document.querySelectorAll('.return-product').forEach(button => {
              button.addEventListener('click', function () {
                const itemId = this.getAttribute('data-item-id');
                $('#cancellationModal').modal('show');
                $('#confirmCancellation').on('click', function () {
                  const cancellationReason = document.getElementById('cancellationReason').value;
                  if (!cancellationReason.trim()) {
                    document.getElementById('cancellationReason').classList.add('is-invalid');
                    document.getElementById('cancellationReasonError').textContent = 'Please enter a reason for cancellation.';
                    return;
                  }
                  const orderId = '<%= order._id %>';
                  fetch(`/order/return/${orderId}/${itemId}`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ itemId, orderId, cancellationReason })
                  })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success) {
                        // Use SweetAlert for success message
                        Swal.fire({
                          icon: 'success',
                          title: 'Success',
                          text: 'Successfully return.',
                          confirmButtonText: 'OK',
                        }).then(() => {
                          $('#cancellationModal').modal('hide'); // Close the modal
                          location.reload(); // Reload the page to reflect the changes
                        });
                      } else {
                        // Use SweetAlert for error message
                        Swal.fire({
                          icon: 'error',
                          title: 'Error',
                          text: 'Failed to cancel product. Please try again.',
                          confirmButtonText: 'OK'
                        });
                      }
                    })
                    .catch(error => {
                      console.error('Error:', error);
                      // Use SweetAlert for generic error message
                      Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred. Please try again.',
                        confirmButtonText: 'OK'
                      });
                    });
                });
              });
            });
         
         
         </script>